.data-elements {
  display: block;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.notebook-element-content {
  height: calc(100% - 10px);
  background: #FFF;
  padding: 1.25em 0 0.75em;
}
.notebook-element-content .data-element {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}
/* Match element or class (class is used in compose mode) */
.data-element-wrap {
  margin-bottom: 0.75em;
  margin-right: 1em;
  display: flex;
  align-items: baseline;
  position: relative;
}
.data-element-wrap .data-element-icon {
  width: 12px;
  height: 12px;
  margin: 0.65em;
  margin-right: 0.75em;
  margin-left: 1.15em;
  fill: #9D9D9D;
  flex-shrink: 0;
}
.data-element-wrap .data-element-display {
  border: solid 1px #c0c0c0;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
.data-element-wrap .data-element-display .empty-value {
  color: #9D9D9D;
  font-size: 1.75em;
  line-height: 0.25em;
}
.data-element-wrap .data-element-display .element-title {
  font-weight: bold;
}
.data-group-wrap .data-group-icon {
  align-self: flex-start;
}
.data-group-wrap .data-group-content.display-mode {
  /**
   * Fix for nested flexbox sizing in IE11. See:
   * https://github.com/philipwalton/flexbugs/issues/170
   * https://github.com/philipwalton/flexbugs/issues/71
   */
  min-width: 0%;
  border: solid 1px #c0c0c0;
  border-radius: 5px;
  padding: 0.5em 0.75em 0;
}
.data-group-wrap .data-group-content.display-mode .data-element-display {
  border: none;
  padding: 0;
}
.data-group-wrap .data-group-content .data-group-header .element-title {
  font-weight: bold;
}
.data-group-wrap .data-group-content .data-element-icon {
  margin: 0;
  margin-right: 0.75em;
}
.data-group-wrap .data-group-content .data-group-icon {
  margin-top: 0.75em;
}
.descriptive-element-wrap {
  align-items: baseline;
}
.descriptive-element-wrap .descriptive-element-display .element-title {
  font-weight: bold;
}
.material-element-wrap {
  align-items: flex-start;
}
.material-element-wrap .material-element-display .element-title {
  color: #6cc0ec;
  font-weight: bold;
  word-wrap: break-word;
}
.material-element-wrap .material-element-display .element-title:hover {
  color: #96dbff;
}
