/*******************
*  eln_layout.css  *
********************/
/**************
*  basic.css  *
**************/
/**********
* colors  *
***********/
/**********
* helper  *
***********/
.list_vertical > ul {
  margin: 0;
  padding: 0;
}
.list_vertical > ul li {
  list-style-type: none;
}
.list_horizontal > ul {
  margin: 0;
  padding: 0;
}
.list_horizontal > ul > li {
  list-style-type: none;
  float: left;
  position: relative;
}
/*************
* functions  *
**************/
/******
* css *
******/
body {
  color: #374858;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
::selection {
  background: #c5e6f8;
}
::-moz-selection {
  background: #c5e6f8;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}

@font-face {
  font-family: 'Oxygen';
  src: url('/static/font/Oxygen-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oxygen Bold';
  src: url('/static/font/Oxygen-Bold.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('/static/font/SourceSansPro-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/font/SourceSansPro-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
}
.body_bg {
  background: #ffffff url(../img/squares.png);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 33px;
  left: -10px;
}
a {
  text-decoration: none;
  color: #1995d8;
  outline: none;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0;
}
button {
  margin: 0;
}
button::-moz-focus-inner {
  border: 0;
}
.clear {
  clear: both;
}
.content_top_margin {
  margin-top: 50px;
}
/******************************
 DEFAULT BLUE BUTTONS
*******************************/
.default_button {
  border: 1px solid #455a6e;
  padding: 4px 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: white;
  opacity: 1;
  line-height: 1.2;
  background: #304d69;
  font-size: 14px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  /* 	background-color:#374858; */
  /* 	border:1px solid #ffffff; */
  /* 	border-radius:6px; */
  /*   	box-shadow:0px 0px 1px black; */
  /* 	-webkit-box-sizing: border-box; */
  /*     -moz-box-sizing: border-box; */
  /*     box-sizing: border-box; */
  /* 	color:#ffffff; */
  /* 	cursor:pointer; */
  /*   	display:inline-block; */
  /*   	float:left; */
  /* 	font-family:din-medi; */
  /* 	font-size:14px; */
  /* 	height:28px; */
  /*    	line-height:28px; */
  /* 	margin:0 1px 1px 0; */
  /*   	outline: none; */
  /*   	padding: 0 10px; */
  /*   	transition: background-color 0.2s ease, box-shadow 0.2s ease; */
}
.default_button:hover,
.default_button:focus {
  background: #375877;
  -ms-filter: none;
  filter: none;
  outline: 0;
  color: white;
  text-decoration: none;
}
.default_button:active {
  background: #304d69;
  -ms-filter: none;
  filter: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.5);
}
.default_button:hover {
  /* 	background-color: #607D99; */
  /*   	text-decoration:none; */
}
.default_button:active {
  opacity: 1.0;
  /* 	  	box-shadow:0px 0px 10px #888888; */
  /*   	text-decoration:none; */
}
.default_button.disabled {
  opacity: 0.5;
  /* 	background-color:#DDD; */
  /* 	border:1px solid #FFF; */
  /*   	box-shadow:0px 0px 1px #AAA; */
  /* 	color:#AAA; */
  /* 	cursor:default; */
}
/******************************
 DEFAULT FIELDS
*******************************/
.default_textfield {
  background-color: white;
  border: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-family: Arial;
  color: #4b6277;
  font-size: 14px;
  line-height: 1.8;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin: 0 5px 5px 0;
  padding-left: 5px;
  min-height: 30px;
  transition: box-shadow ease 0.2s;
}
.textfield_on_white {
  border: solid 1px #bac7d4;
}
.default_textfield:hover {
  /* 	box-shadow: 0 0 3px #69bfee;	 */
}
.default_textfield:focus {
  /* 	border: 1px solid #69bfee; */
  /* 	box-shadow: 0 0 6px #69bfee;	 */
}
/******************************
 DEFAULT SELECT
*******************************/
.default_select {
  background: #FFF;
  border: 1px solid #d9e1e8;
  color: #4b6277;
  cursor: pointer;
  margin: 0 0 0 10px;
  padding: 4px 4px 4px 8px;
}
.dialog_wide_select {
  margin: 0;
  width: 100%;
}
/******************************
 DEFAULT PROFILE PICTURE
*******************************/
img.default_profile_picture {
  border: 1px solid #888;
  height: 100px;
  width: 100px;
}
img.default_profile_picture_small {
  border: 1px solid #888;
  height: 32px;
  width: 32px;
  margin-top: 3px;
}
/* ****************** */
/* more_options START */
/* ****************** */
.more_options {
  float: right;
  position: relative;
}
.more_options_panel {
  position: absolute;
  right: 0;
  z-index: 10;
  display: none;
  -webkit-box-shadow: 0 4px 6px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(55, 72, 88, 0.3);
  box-shadow: 0 4px 6px rgba(55, 72, 88, 0.3);
  border: 1px solid #CDCDCD;
  /* 	border-radius: 10px; */
  background-color: #FDFDFD;
}
.more_options_panel.in_project {
  top: 38px;
}
.more_options_panel.in_block {
  top: 40px;
}
.more_options_item {
  font-size: 12px;
  /* 	line-height: 40px; */
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  /* 	border-top: 1px solid #D6D4D5; */
  transition: background ease 0.2s;
}
.more_options_item:hover {
  /* 	background: #ededed; */
  /* 	color: #69bfee; */
}
.more_options_item:first-child {
  /* 	border-radius: 10px 10px 0 0; */
  /* 	border: 0; */
}
.more_options_item:last-child {
  /* 	border-radius: 0 0 10px 10px; */
}
.more_options_item span {
  position: absolute;
  right: 0;
}
div.zoom_bar {
  width: 180px;
  padding: 4px 14px !important;
  height: 44px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
}
div.zoom_bar:hover {
  background: #e6ebef;
}
div.zoom_bar:hover {
  color: #374858;
}
/* **************** */
/* more_options END */
/* **************** */
/* ****************** */
/* gear_button START */
/* ****************** */
/* ************ */
/* layout START */
/* ************ */
/* generic rules */
.eln_row {
  left: 0;
  right: 0;
  /* 	overflow:hidden; */
  position: absolute;
}
.eln_scroll-x {
  overflow-x: auto;
}
.eln_scroll-y {
  overflow-y: scroll;
}
/* specific rules */
.eln_header.eln_row {
  position: relative;
  /* 	height:50px; */
  /* 	background: #FFF; */
  /* 	box-shadow:0 3px 10px #BBB; */
  min-width: 800px;
}
.eln_content.eln_row {
  top: 70px;
  bottom: 0;
  margin-left: 200px;
  min-width: 600px;
}
.eln_main_title.eln_row {
  top: 70px;
  margin-right: 40px;
  margin-left: 100px;
  min-width: 436px;
  overflow: visible;
}
.eln_main_content.eln_row {
  top: 86px;
  bottom: 0;
  margin-left: 49px;
  min-width: 600px;
}
.eln_folder_title.eln_row {
  top: 70px;
  margin-left: 100px;
  min-width: 600px;
  overflow: visible;
}
.eln_folder_content.eln_row {
  top: 86px;
  bottom: 0;
  margin-left: 49px;
  min-width: 640px;
}
.eln_project_title.eln_row {
  top: 70px;
  margin-left: 100px;
  min-width: 640px;
  overflow: visible;
}
.eln_project_content.eln_row {
  top: 86px;
  bottom: 0;
  /* 	margin-left:100px; */
  margin-left: 29px;
  min-width: 600px;
}
.eln_main_content_box {
  height: auto;
  min-height: 400px;
  margin: 0 25px 25px 0;
  background-color: white;
  border-bottom: solid 1px #cad4de;
  border-left: solid 1px #cad4de;
  border-right: solid 1px #cad4de;
  position: relative;
  padding: 20px 20px 20px 135px;
  color: #4b6277;
}
.eln_main_content_box .header {
  display: block;
  font-size: 24px;
  height: 35px;
}
.eln_main_content_box .header button {
  margin-right: 10px;
}
.app_wrap {
  position: relative;
  background: #f3f5f7;
  border: solid 1px #cad4de;
  -webkit-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.1);
  -moz-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.1);
  box-shadow: 0 2px 2px rgba(55, 72, 88, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: calc(95% - 15px);
}
.app_content_wrap {
  max-width: 900px;
  padding: 10px;
  display: block;
  line-height: 18px;
  position: absolute;
  overflow: auto;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0px;
}
.app_header {
  height: 29px;
  background: #cad4de;
  padding: 6px;
}
.app_header > h2 {
  display: block;
  float: left;
  font-size: 14px;
  margin: 0 13px 0 0;
  color: #374858;
}
.app_header .filter_dn_wrap {
  top: 23px;
}
.app_header .dropdown_button {
  height: 20px;
}
.app_header .dropdown_button p {
  margin: 0;
  float: left;
}
.app_header .dropdown_button span {
  height: 4px;
  width: 12px;
  display: block;
  float: left;
  margin: 2px 0 0 4px;
}
.app_plus_btn {
  width: 35px;
  height: 18px;
  line-height: 1;
  margin-right: 2px !important;
  padding: 0;
}
.get_more_apps {
  height: 100%;
  padding: 20px;
}
/* ********** */
/* layout END */
/* ********** */
/* ****************** */
/* action links START */
/* ****************** */
.action_link_submit {
  background: url(/static/img/design/action/submit.png) top right no-repeat;
  width: 112px;
  height: 25px;
  display: block;
}
.action_link_submit:hover {
  background-image: url(/static/img/design/action/submit_hover.png);
}
.action_link_signout {
  background: url(/static/img/design/action/signout.png);
  width: 83px;
  height: 24px;
  display: block;
  float: right;
  margin: 10px 0;
}
.action_link_signout:hover {
  background: url(/static/img/design/action/signout_hover.png);
}
.action_link_profile {
  background: url(/static/img/design/action/profile.png);
  width: 71px;
  height: 24px;
  display: block;
  float: right;
  margin: 10px 0;
}
.action_link_profile:hover {
  background: url(/static/img/design/action/profile_hover.png);
}
/* **************** */
/* action links END */
/* **************** */
/* ************ */
/* header START */
/* ************ */
/* LOGO */
.eln_header_logo {
  float: left;
  padding-top: 7px;
  padding-left: 17px;
}
/* Storage icon */
#eln_header_storage_button {
  background: none repeat scroll 0 0 transparent;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 14px;
  margin-top: 5px;
  padding: 0;
  height: 27px;
  width: 32px;
}
#eln_header_storage_button span {
  font-size: 10px;
  margin-top: 14px;
  position: absolute;
  text-align: center;
  width: 32px;
  z-index: 6;
}
#eln_header_storage_stored {
  background-color: #ededed;
  height: 32px;
  width: 32px;
}
#eln_header_storage_mask {
  position: absolute;
  z-index: 5;
}
#eln_header_storage_fill {
  background-color: #BDCA70;
  bottom: -5px;
  position: absolute;
  width: 32px;
  z-index: 2;
}
/* Storage drop down panel */
#eln_header_storage_panel {
  background-color: #FFFFFF;
  border: 3px solid #DDDDDD;
  top: 53px;
  z-index: 7;
}
#eln_header_storage_info {
  cursor: default;
}
#eln_header_storage_info:hover {
  color: #374858;
}
#eln_header_storage_info span {
  font-size: 14px;
  padding-right: 10px;
  text-align: right;
  width: 80px;
}
/* Storage percent bar */
#eln_header_storage_bar_container {
  float: right;
  padding: 12px 10px 0;
}
#eln_header_storage_bar {
  border: 1px solid #888;
  height: auto;
  line-height: 15px;
  padding: 2px;
  position: relative;
  width: 80px;
}
span#eln_header_storage_bar_percent {
  font-size: 12px;
  line-height: 12px;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 80px;
}
#eln_header_storage_bar_fill {
  background-color: #bdca70;
  height: 10px;
}
#eln_header_name {
  display: inline-block;
  line-height: 40px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 5px;
  vertical-align: top;
  white-space: nowrap;
}
#eln_header_name div {
  display: inline;
}
#eln_header_actions {
  margin-right: 43px;
}
#eln_header_actions_button {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background: none repeat scroll 0 0 transparent;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 14px;
  height: 50px;
  margin: 0;
  padding: 5px;
}
#eln_header_storage_button:hover,
#eln_header_actions_button:hover {
  cursor: pointer;
  background: #ededed;
  border: none;
  border-radius: 0;
}
#eln_header_storage_button:active {
  margin: 5px 1px 0px 0px;
}
div#eln_header_actions_button.active {
  background: #ededed;
  border: none;
  border-radius: 0;
  margin: 0;
}
#eln_header_arrow span {
  font-size: 18px;
}
#eln_header_arrow {
  display: inline-block;
  margin-top: 8px;
  padding-left: 5px;
  vertical-align: top;
}
#eln_header_actions_panel {
  background-color: #FFFFFF;
  position: absolute;
  top: 53px;
  z-index: 7;
}
.eln_header_actions_item {
  border-top: 1px solid #D6D4D5;
  cursor: pointer;
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
}
.eln_header_actions_item:first-child {
  border-top: 0;
}
.eln_header_actions_item span {
  float: right;
  font-size: 18px;
  line-height: 18px;
  padding-top: 12px;
  text-align: center;
  width: 36px;
}
.eln_header_actions_item:hover {
  background: #ededed;
  color: #69bfee;
}
.colorbar {
  height: 4px;
  background: url(/static/img/design/colorbar.png);
}
/* ************ */
/* header END */
/* ************ */
/* **************** */
/* navigation START */
/* **************** */
#eln_navigation {
  position: fixed;
  top: 70px;
  width: 75px;
  border-radius: 0 10px 0 0;
  box-shadow: 0 3px 10px #888;
  background: #FFF;
  bottom: 0;
  left: 0;
  z-index: 2;
  text-align: center;
}
#eln_navigation a {
  border-bottom: 1px solid #d6d4d5;
  display: block;
  text-decoration: none;
  padding: 10px 0;
  font-size: 12px;
  color: #374858;
  transition: all ease 0.2s;
}
#eln_navigation a:hover {
  background: #ededed;
  color: #69bfee;
}
#eln_navigation a:first-child {
  border-radius: 0 10px 0 0;
}
#eln_navigation span {
  display: block;
  font-size: 24px;
  margin-bottom: 3px;
}
#eln_navigation span.icon-group {
  font-size: 20px;
  margin-left: 9px;
}
#eln_navigation span.icon-inventory {
  margin-left: 4px;
}
#eln_navigation span.icon-template {
  margin-left: 5px;
}
#eln_navigation .highlight {
  color: #69bfee;
}
#eln_navigation .disabled,
#eln_navigation .disabled:hover {
  color: #ccc;
}
#eln_navigation button {
  border: 5px solid white;
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;
  font-size: 11px;
  outline: none;
  width: 70px;
  height: 70px;
}
#feedback_button span,
#invite_button span {
  font-size: 22px;
}
#invite_button {
  background-color: #bdca70;
}
#feedback_submit {
  margin-right: 6px;
  width: 60px;
  height: 30px;
  font-weight: bold;
}
#feedback_button {
  background-color: #ad4e88;
}
.eln_navigation_support_buttons {
  margin-top: 100px;
}
#feedback_panel {
  display: none;
  position: fixed;
  top: -2px;
  left: 0;
  z-index: 102;
  background: #d9e1e8;
  border: 3px solid #ab48a9;
  -webkit-box-shadow: 2px 6px 10px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 2px 6px 10px rgba(55, 72, 88, 0.3);
  box-shadow: 2px 6px 10px rgba(55, 72, 88, 0.3);
}
.feedback_title {
  background: #ab48a9;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
.feedback_title h4 {
  display: inline-block;
}
.feedback_title img {
  vertical-align: top;
  margin-left: 10px;
}
.feedback_content {
  padding: 10px;
  width: 390px;
}
.feedback_content h4 {
  font-size: 12px;
}
#feedback_panel h4 {
  margin: 10px;
  margin-bottom: 5px;
}
#feedback_comment {
  margin: 0 10px 30px 10px;
  margin-top: 0;
  width: 350px;
  height: 120px;
}
#feedback_submit_loader {
  display: none;
  margin: 8px 15px;
}
/* ************** */
/* navigation END */
/* ************** */
/* ********* */
/* EPB START */
/* ********* */
#epb_container {
  /* 	padding-top: 10px; */
  /* 	padding-bottom: 80px; */
}
img.imageOriginal {
  border: 1px solid #DDD;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  transition: all linear 0.2s;
}
img.imageLayer {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: all linear 0.2s;
}
#commentBlock {
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  width: 200px;
  background: #FFF;
  top: 1px;
}
#epb_older_blocks_panel,
#epb_newer_blocks_panel {
  text-align: center;
  color: #999;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
}
.show_more_entries {
  font-size: 13px;
  margin: auto;
  width: 300px;
  background: white;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 0 3px 4px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 3px 4px rgba(55, 72, 88, 0.3);
  box-shadow: 0 3px 4px rgba(55, 72, 88, 0.3);
}
.show_more_entries span {
  color: #1995d8;
  cursor: pointer;
}
.epb_entry {
  /* 	background-color: white; */
  /* 	border: 1px solid #CCC; */
  /* 	border-radius: 10px; */
  display: inline-block;
  /* 	margin-right:25px; */
  margin-bottom: 20px;
}
#epb_container {
  padding-bottom: 60px;
}
.epb_entry:last-child {
  margin-bottom: 10px;
}
.epb_entry_removed {
  border: 1px solid #F88;
  box-sizing: border-box;
}
.epb_entry p {
  margin: 0 !important;
}
.epb_header {
  /* 	height: 35px; */
  /* 	min-width: 640px; */
  /* 	border-bottom: 1px solid #d6d4d5; */
  /* 	padding: 10px 10px 0 10px; */
  /* 	background-color: #ededed; */
  /* 	border-radius: 10px 10px 0 0; */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}
/* .epb_header_container { */
/* 	height: 45px; */
/* } */
.epb_header_sticky {
  position: fixed;
  top: 86px;
  z-index: 10;
  transition: width ease-in 0.3s;
}
.epb_header_sticky div.action_button_text {
  margin-left: 5px;
}
.epb_header_sticky div.more_options {
  margin-right: 5px;
}
/*Hack for comments*/
.epb_content_wrap {
  display: table;
  /* 	width: 100%; */
}
.epb_show_comments .epb_content_container {
  display: table-cell;
  width: 85%;
}
.epb_show_comments .comment_block_container {
  display: table-cell;
}
/*End of comment Hack */
.epb_footer {
  font-size: 9px;
  height: auto;
  margin-left: 30px;
  margin-right: 45px;
  position: relative;
  padding: 5px;
  background: #cad4de;
  border-top: solid 1px white;
  -webkit-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.3);
  box-shadow: 0 2px 2px rgba(55, 72, 88, 0.3);
}
.epb_footer_signing_infos {
  display: inline-block;
  text-align: left;
}
.epb_footer_witness_actions {
  display: inline-block;
  margin-right: 10px;
}
.epb_footer_witness_actions a {
  padding-left: 10px;
  line-height: 25px;
}
.epb_date {
  border-right: 1px solid #d6d4d5;
  margin-right: 10px;
  padding-right: 10px;
  padding-top: 2px;
  font-size: 12px;
  float: right;
  text-align: right;
}
.epb_author {
  border-right: 1px solid #d6d4d5;
  margin-right: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-left: 5px;
  font-size: 12px;
  float: right;
}
.epb_author_picture {
  border: 1px solid #d6d4d5;
  float: right;
  margin-top: 2px;
}
.epb_comments_alert {
  /* 	color: #FFFFFF; */
  /* 	float:right; */
  /* 	margin-right: 5px; */
  cursor: pointer;
}
.epb_comments_count {
  /* 	position: relative; */
  /* 	top: 7px; */
  /* 	left: 50%; */
  /* 	margin-left: 3px; */
  /* 	vertical-align: top; */
}
.epb_header_action {
  line-height: 24px;
  padding-right: 15px;
  padding-top: 2px;
  font-size: 12px;
  float: left;
}
.epb_default_slider_container {
  cursor: pointer;
}
div.epb_relative_zoom {
  margin-left: 2px;
  font-size: 14px;
  display: inline-block;
  position: relative;
  width: 12px;
  height: 16px;
  vertical-align: text-bottom;
}
div.epb_relative_zoom:hover {
  /* 	color: #69bfee; */
}
.epb_default_slider {
  background-color: #ededed;
  border: 1px solid #DDDDDD;
  border-radius: 7px;
  box-shadow: #B6B4A8 0 1px 7px inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 114px;
  margin: 0 5px 0 4px;
}
.epb_default_slider_active {
  background-color: #EFEFE7;
  border: 1px solid #99968F;
  border-radius: 6px;
  box-sizing: border-box;
  height: 12px;
  position: relative;
  width: 12px;
  transition: all ease 0.2s;
  left: 0;
  z-index: 2;
}
.epb_default_slider_active:hover {
  box-shadow: #888888 -1px -1px 3px inset;
}
.epb_default_slider_active:active {
  background-color: #DDD;
  box-shadow: #AAA 1px 1px 2px inset;
}
.epb_default_slider_bar {
  background: #69bfee;
  /* fallback */
  background: rgba(75, 177, 215, 0.5);
  box-shadow: #B6B4A8 0 1px 7px inset;
  box-sizing: border-box;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border: 0;
  height: 16px;
  margin-top: -14px;
  padding: 0;
  position: relative;
  width: 0px;
  transition: all ease 0.2s;
  z-index: 1;
}
.epb_default_slider_zoom {
  cursor: default;
  display: block;
  line-height: 30px;
  width: 100%;
  text-align: center;
}
.epb_text_save_cancel {
  display: none;
}
.epb_text_save_cancel a {
  padding-left: 10px;
}
.epb_file {
  margin: 20px 0;
}
.epb_image {
  margin: 20px 0;
  position: relative;
}
.epb_image .imageLayer {
  position: absolute;
  top: 0;
  left: 0;
}
.epb_image_zoom {
  margin-top: 5px;
}
.epb_image_zoom img {
  cursor: pointer;
}
.epb_image_zoom_square {
  background-color: transparent;
  border: 1px solid #666;
  margin: 0 1px;
}
.epb_image_zoom_square_active {
  background-color: #666;
}
.epb_new_panel {
  background: #ededed;
  border: 2px solid #CCC;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  height: 40px;
  left: 50%;
  margin-left: -250px;
  padding: 5px;
  position: absolute;
  text-align: center;
  z-index: 2;
}
.epb_new_panel_middle {
  background: url(/static/img/design/epb_new_panel_middle.png) repeat-x;
  float: left;
  height: 55px;
  padding-top: 25px;
}
.epb_new_panel_left {
  background: url(/static/img/design/epb_new_panel_left.png) no-repeat;
  float: left;
  height: 80px;
  width: 30px;
  position: relative;
}
.epb_new_panel_right {
  background: url(/static/img/design/epb_new_panel_right.png) no-repeat;
  float: left;
  height: 80px;
  width: 30px;
}
.epb_new_panel .default_button {
  margin: 0 5px;
}
#epb_new_panel_jump_to_end {
  display: none;
}
#epb_new_panel_jump_to_end div {
  float: left;
  font-size: 14px;
  line-height: 30px;
}
.epb_entry_removed_msg_head {
  display: none;
  margin: 0 200px;
  text-align: center;
  color: #F88;
  padding-top: 5px;
}
/* ******* */
/* EPB END */
/* ******* */
/* ******************* */
/* block history START */
/* ******************* */
.block_history_table {
  border-collapse: collapse;
  width: 100%;
}
tr.history_row:nth-child(odd) {
  background-color: #fff;
  cursor: pointer;
  height: 23px;
}
tr.history_row:nth-child(even) {
  background-color: #f0f0f0;
  cursor: pointer;
  height: 23px;
}
.block_history_table td.col1 {
  padding: 3px 0 3px 5px;
}
.block_history_table td.col2 {
  padding: 3px 10px 3px 10px;
}
.block_history_table td.col3 {
  padding: 3px 0;
}
#block_history_navigation {
  position: absolute;
  width: 350px;
  bottom: 0;
  top: 30px;
  left: 0;
  overflow: auto;
  border-right: 2px solid #374858;
}
#block_history_item_content {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 30px;
  left: 350px;
  padding: 0 20px;
  overflow: scroll;
}
.block_history_row_selected {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #DDD !important;
  color: #4BB1D1;
}
/* ***************** */
/* block history END */
/* ***************** */
/* ************** */
/* plupload START */
/* ************** */
.plupload_select {
  width: 110px;
  height: 24px;
  margin: 0 auto;
}
.plupload_drop {
  border: 2px dashed black;
  width: 200px;
  height: 80px;
  margin: 0 auto;
  background-color: #77ff66;
}
#plupload_container {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100px;
  height: 50px;
  overflow: hidden;
}
/* ************ */
/* plupload END */
/* ************ */
/* *************** */
/* workspace START */
/* *************** */
.workspace_header_actions {
  height: 50px;
}
.workspace_header_actions .default_button {
  margin-right: 15px;
}
.workspace_header_link {
  margin-right: 15px;
  line-height: 36px;
}
.workspace_header_link span {
  font-weight: bold;
}
/** Modified at the end of the section
.workspace_header {
	background-color: #F3F3F3;
	border: 1px solid #DDD;
	line-height: 36px;
	padding: 5px;
	padding-left: 15px;
}*/
.workspace_header_path a {
  outline: none;
  color: #fff;
  text-decoration: none;
}
.workspace_header_path a:hover {
  color: #69bfee;
}
.project_list_children {
  display: none;
  margin-left: 30px;
}
.project_list_head {
  border: 1px solid #DDD;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 10px 0;
  height: 12px;
}
.project_list_head .name {
  margin-left: 15px;
}
.project_list_head .updateTS {
  float: right;
  margin-right: 15px;
}
.project_list {
  min-height: 350px;
  margin: 0 25px 25px 0;
  background-color: #ffffff;
  border-bottom: solid 1px #cad4de;
  border-left: solid 1px #cad4de;
  border-right: solid 1px #cad4de;
  position: relative;
  padding: 20px 20px 20px 135px;
  -webkit-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.1);
  -moz-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.1);
  box-shadow: 0 2px 2px rgba(55, 72, 88, 0.1);
}
.project_list_line {
  /* 	background: url(/static/icon/project40.png) no-repeat 0 -40px; */
  display: block;
  outline: none;
  color: #4b6277;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  font-size: 14px;
  padding: 5px 15px;
  border: 1px solid transparent;
  overflow: hidden;
}
.project_list_line > span {
  color: #4b6277;
  line-height: 1.2;
  font-size: 14px;
}
.project_list_line:hover {
  background-position: 0 0;
  background: #ecf0f3;
  text-decoration: none;
}
.project_list_line.is_folder {
  background: url(/static/icon/folder40.png) no-repeat 0 -40px;
}
.project_list_line:hover.is_folder {
  background-position: 0 0;
}
.project_list_line.is_group {
  /* 	background: url(/static/icon/group40.png) no-repeat 0 -40px; */
}
.project_list_line:hover.is_group {
  background-position: 0 0;
}
.project_list_line img {
  vertical-align: top;
}
.project_list_line .name {
  font-size: 14px;
}
.project_list_line .updateTS {
  font-size: 15px;
  float: right;
  margin-right: 15px;
}
a.order_link {
  font-size: 12px;
  outline: none;
  color: #374858;
  text-decoration: none;
}
a.order_link:hover {
  color: #69bfee;
}
a.order_link_asc {
  padding-right: 12px;
  background: url(/static/icon/order_sign.png) no-repeat right -65px;
}
a.order_link_desc {
  padding-right: 12px;
  background: url(/static/icon/order_sign.png) no-repeat right -45px;
}
a.order_link_asc:hover {
  padding-right: 12px;
  background: url(/static/icon/order_sign.png) no-repeat right -25px;
}
a.order_link_desc:hover {
  padding-right: 12px;
  background: url(/static/icon/order_sign.png) no-repeat right -5px;
}
.workspace_header {
  background: #374858 repeat-x 0 0;
  border: 1px solid #DDD;
  border-radius: 10px;
  height: 35px;
  line-height: 5px;
  padding: 5px 10px;
}
.workspace_name {
  color: #FFFFFF;
  float: left;
  font-size: 24px;
  height: 32px;
  line-height: 32px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
}
.workspace_name a {
  color: #FFF;
}
.workspace_name a:hover {
  color: #69bfee;
  text-decoration: none;
}
/* ************* */
/* workspace END */
/* ************* */
/* ******************* */
/* profile block START */
/* ******************* */
#user_settings_innovation_level_form select {
  background: #ffffff;
  border: 1px solid #d9e1e8;
  color: #5e7b97;
  cursor: pointer;
  margin: 0 0 0 10px;
  padding: 4px 4px 4px 8px;
  outline: 0;
}
#profile_picture_edit_panel {
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
  padding-left: 5px;
}
#profile_picture_edit_panel img {
  border: 1px solid #bac7d4;
  margin-top: 10px;
  width: 100px;
  height: 100px;
}
.profile_block {
  padding-left: 15px;
  width: 550px;
  margin-bottom: 20px;
}
.profile_block_edit {
  display: block;
  float: right;
  margin-right: 5px;
  font-size: 12px;
}
.profile_edit .placeholder_frame {
  margin: 0 5px 5px 0;
}
.project_pdf_export_list {
  background: #ffffff;
  border: 1px solid #DDD;
  height: 125px;
  margin: 15px 0 30px 0;
  padding: 5px;
  overflow-y: scroll;
}
.project_pdf_export_list div {
  line-height: 18px;
  height: 18px;
  overflow: hidden;
}
.pdf_range_export label {
  display: block;
  text-align: left;
}
/*FIND A BETTER WAY WITH last-child*/
#profile_contact {
  border: none;
  padding-bottom: 0px;
}
#profile_picture_edit_link {
  position: relative;
}
#profile_picture_edit_panel span {
  opacity: 0;
  height: 25px;
  left: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 86px;
  width: 100px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#profile_picture_edit_panel:hover span {
  background: rgba(75, 98, 119, 0.95);
  opacity: 1;
  color: white;
}
.profile_block_img {
  display: block;
}
#updatePersonalForm .placeholder_frame {
  float: none;
  width: 380px;
}
.profile_block_key {
  float: left;
  font-weight: bold;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  width: 100px;
}
#profile_settings .profile_block_key {
  padding-left: 5px;
  width: 200px;
}
#profile_settings .profile_block h2 {
  margin: 0 0 15px 0;
}
.edit_wrap {
  width: 100%;
  height: 10px;
}
.profile_block_value {
  float: left;
  line-height: 24px;
  font-size: 12px;
}
.general_setting_item {
  margin-bottom: 20px;
}
.profile_block_value input[type=text],
.profile_block_value input[type=password] {
  width: 330px;
}
.profile_block_error {
  color: red;
  display: block;
  line-height: 20px;
}
.cancel_save_panel {
  float: right;
  margin-right: 5px;
  line-height: 36px;
  margin-top: 20px;
}
.cancel_save_panel .cancel {
  float: left;
  padding-right: 10px;
  font-size: 12px;
}
.profile_block h1 {
  margin: 0;
  font-size: 14px;
}
.profile_block h2 {
  margin: 0 0 5px 0;
  padding: 0 0 2px 4px;
  color: #7b95ad;
  border-bottom: 1px solid #9baec0;
  font-size: 12px;
  font-weight: normal;
}
.profile_show {
  padding: 10px 0 2px 4px;
  margin-bottom: 20px;
}
.profile_edit {
  padding: 10px 0 2px 4px;
  float: left;
  display: block;
}
.profile_edit_personal {
  width: 400px;
}
.profile_block h3 {
  font-size: 12px;
  margin: 10px 0;
  font-weight: normal;
}
.profile_section {
  min-height: 100px;
  display: block;
  overflow: auto;
  margin-bottom: 20px;
}
.profile_prof_head {
  width: 400px;
}
.profile_name_field {
  width: 200px;
}
.placeholder_frame label.profile_personalEdit {
  padding: 5px;
}
.profileTitle_field {
  width: 200px;
}
#profile_personal .profile_show div {
  display: inline;
}
/* ***************** */
/* profile block END */
/* ***************** */
/* ******************** */
/* sticky infobox START */
/* ******************** */
.sticky_infobox {
  width: 350px;
  height: 310px;
  background: url(/static/img/design/sticky_infobox_big.png) 0 0 no-repeat;
  padding: 50px 65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ****************** */
/* sticky infobox END */
/* ****************** */
/* ************ */
/* search START */
/* ************ */
.search_wrap {
  padding-left: 15px;
}
.search_wrap .placeholder_frame {
  height: 30px;
}
.search_wrap .placeholder_frame input {
  height: 30px;
}
.search_wrap .placeholder_frame label {
  padding: 4px 0 0 5px;
  font-size: 14px;
}
.search_wrap .placeholder_frame button.search_button {
  height: 30px;
}
.top_searchbox_form {
  float: right;
  position: relative;
  top: 12px;
  padding-right: 10px;
}
.search_result_item {
  padding-bottom: 20px;
  width: 560px;
}
.search_result_item_title {
  text-decoration: underline;
  font-size: 12px;
}
.search_result_item_title:hover {
  text-decoration: underline;
  color: #3b97ed;
}
.search_result_item_text {
  font-size: 12px;
}
#search_result_load_more_spinner {
  display: none;
}
#search_result_load_more_link {
  display: none;
}
#search_result_error_message {
  display: none;
  color: red;
}
#search_result_num_all_results {
  display: none;
  color: #999;
  font-size: 12px;
  padding: 3px;
}
.search_result_content {
  padding-top: 20px;
}
/* ********** */
/* search END */
/* ********** */
.default_font {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.45em;
  white-space: normal;
}
#data_element {
  display: none;
}

/**************/
/* IE WARNING */
/**************/
#ie_warning {
  display: none;
  background-color: #E66873;
  color: #FFF;
  font-size: 14px;
  height: 30px;
  left: 50%;
  line-height: 14px;
  margin-left: -310px;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 550px;
  z-index: 9999;
}
a#ie_warning_close {
  color: #FFF;
  float: right;
  font-size: 12px;
  cursor: pointer;
}
a#ie_warning_update {
  color: #FFF;
  font-size: 14px;
  text-decoration: underline;
}
/****************************/
/* admin active weeks START */
/****************************/
.activeWeeksTable {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 8px;
  background-color: #e5e5e5;
  text-align: center;
}
.activeWeeksTable th {
  border: 1px solid #374858;
}
.activeWeeksTable td {
  border: 1px solid #374858;
}
.activeWeeksTable .week {
  width: 20px;
  height: 20px;
}
.activeWeeksTable .week.status1 {
  background-color: white;
}
.activeWeeksTable .week.status2 {
  background-color: #fcc;
}
.activeWeeksTable .week.status3 {
  background-color: #cfc;
}
.activeWeeksTable .week.status3 {
  background-color: #cfc;
}
.activeWeeksTable .premium {
  background-color: #cfc;
}
/**************************/
/* admin active weeks END */
/**************************/
/**************************/
/* pdf viewer       START */
/**************************/
#pdf_viewer {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
}
/**************************/
/* pdf viewer         END */
/**************************/
.activeExcelSheet {
  font-weight: bold;
}
a.editor_reference {
  color: #a21621;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
.pdf_checkbox_label {
  line-height: 32px;
  margin-left: 25px;
}
.pdf_checkbox_sublabel {
  line-height: 32px;
  margin-left: 45px;
}
.pdf_setting_description {
  margin-left: 50px;
  font-size: 12px;
}
.pdf_filename_label {
  display: block;
  margin: 10px 0 10px 32px;
}
/**************************/
/*          END */
/**************************/
#block_history_item_content .extract_preview_link,
.readOnly .extract_preview_link {
  display: none;
}
.extract_preview {
  overflow: auto;
}
.extract_preview_confirm {
  float: right !important;
  margin-right: 25px;
}
/*********************/
/* jsTemplates START */
/*********************/
#jsTemplates {
  display: none;
}
p.jsTemplate_dialog_title {
  display: none;
}
/*******************/
/* jsTemplates END */
/*******************/
/***************/
/* popup START */
/***************/
.popup {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
  -moz-opacity: .8;
  opacity: 0.8;
  background-color: white !important;
}
.popup_window {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: white;
  /* 	border: 2px solid #374858; */
  -webkit-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
}
.popup_window_default {
  top: 75px;
  bottom: 75px;
  left: 75px;
  right: 75px;
}
#my_popup_inner {
  background-color: #cad4de;
}
.popup_dialog {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: #cad4de;
  top: 30%;
  left: 50%;
  width: 400px;
  margin-top: -125px;
  margin-left: -200px;
  -webkit-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.8);
  -moz-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.8);
  box-shadow: 0 4px 10px rgba(55, 72, 88, 0.8);
}
.popup_title {
  height: 30px;
  line-height: 30px;
  margin-top: -1px;
  padding-left: 5px;
  background: #304d69;
  color: white;
}
.popup_title_close {
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  float: right;
  cursor: pointer;
  margin: 4px;
}
.popup_title_left {
  float: left;
}
.popup_title_center {
  text-align: center;
}
.popup_title_center span {
  display: none;
}
.popup_loading_image {
  margin: 50px auto;
  background: url(/static/img/ajax-loader-big.gif) no-repeat;
  width: 32px;
  height: 32px;
}
.popup_dialog .popup_dialog_content {
  max-height: 650px;
  overflow: auto;
  padding: 10px;
}
.popup_dialog_cancel_save_panel {
  float: right;
  margin-top: 10px;
  line-height: 30px;
}
.popup_dialog_cancel_save_panel .cancel {
  float: left;
  padding-right: 5px;
  font-size: 12px;
  visibility: hidden;
}
.popup_dialog_cancel_save_panel .dialog_confirm {
  visibility: hidden;
}
#import_footer .dialog_confirm {
  visibility: visible;
}
.popup_dialog_cancel_save_panel .default_button {
  margin-left: 5px;
}
.popup_scroll_content {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 30px;
  left: 0;
  padding: 10px;
  overflow: auto;
}
.popup_list_row {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #DDD;
}
.popup_list_row .default_button {
  float: right;
}
.popup_list_row .deny_link {
  float: right;
  line-height: 36px;
  font-size: 12px;
  margin: 0 5px;
}
.popup_list_row_desc {
  padding-top: 12px;
  margin-right: 125px;
}
.popup_dialog_error {
  background-color: #E66873;
  color: #FFF;
  display: none;
  font-size: 14px;
  line-height: 18px;
  padding: 5px;
  text-align: center;
}
.popup_dialog_loading_button {
  padding: 0 10px;
}
#my_popup_content {
  height: calc(100% - 29px);
  overflow: auto;
}
.input_block {
  margin-bottom: 20px;
  word-wrap: break-word;
  font-size: 12px;
}
.input_block .folder_up-img {
  background-position: -738px -5px;
  width: 24px;
  height: 13px;
}
.tagline_hidden {
  display: none;
}
.input_title {
  margin: 10px 0 5px;
  font-size: 12px;
  color: #4b6277;
}
#my_popup_content .input_title:first-of-type {
  /* 	margin: 0 0 5px 0; */
}
#my_popup_content .spinner {
  display: block;
  margin: auto;
}
#my_popup_content textarea {
  color: #4b6277;
  line-height: 1.4;
  font-size: 14px;
  height: 150px;
  resize: none;
}
/*************/
/* popup END */
/*************/
/**************************/
/* custom selectbox START */
/**************************/
div.lfSelectBox {
  position: relative;
  cursor: pointer;
  background-color: white;
  width: 0;
  float: left;
}
div.lfSelectTitle {
  border: 1px solid black;
}
div.lfSelectOptions {
  position: absolute;
  border: 1px solid black;
  background: white;
  z-index: 99;
  display: none;
}
div.lfSelectOption:hover {
  color: #E7E7E7;
  background: #3988e5;
}
/************************/
/* custom selectbox END */
/************************/
/* ************ */
/* button START */
/* ************ */
a.btn,
button.btn {
  background: transparent url(/static/img/button/button_right.gif) no-repeat scroll top right;
  border: 0;
  color: #666;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 16px;
  height: 24px;
  margin-right: 6px;
  outline: none;
  padding-right: 16px;
  padding-top: 0;
  text-decoration: none;
}
a.btn span,
button.btn span {
  background: transparent url(/static/img/button/button_left.gif) no-repeat;
  display: block;
  padding: 4px 0 4px 18px;
}
a.btn img,
button.btn img {
  vertical-align: top;
}
a.btn:active,
button.btn:active {
  background-position: bottom right;
}
a.btn:active span,
button.btn:active span {
  background-position: bottom left;
  padding: 5px 0 3px 18px;
}
/* a.btn36, button.btn36 { */
/* 	background-color: transparent; */
/* 	border: 0; */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	color: white; */
/* 	cursor: pointer; */
/* 	display: block; */
/* 	float: left; */
/* 	font-size: 14px; */
/* 	line-height: 16px; */
/* 	height: 36px; */
/* 	outline: none; */
/* 	text-decoration: none; */
/* 	font-family: 'din-medi'; */
/* } */
/* a.btn36 img, button.btn36 img { */
/* 	vertical-align: top; */
/* 	margin-right: 7px; */
/* } */
/* a.btn36 span, button.btn36 span { */
/* 	display: block; */
/* 	float: left; */
/* } */
/* a.btn36 span.m, button.btn36 span.m { */
/* 	background: url(/static/img/button/b36_m.png) repeat-x 0 0; */
/* 	height: 16px; */
/* 	padding: 10px 1px 10px 1px; */
/* } */
/* a.btn36 span.l, button.btn36 span.l { */
/* 	background: url(/static/img/button/b36_l.png) no-repeat 0 0; */
/* 	width: 15px; */
/* 	height: 36px; */
/* } */
/* a.btn36 span.r, button.btn36 span.r { */
/* 	background: url(/static/img/button/b36_r.png) no-repeat 0 0; */
/* 	width: 15px; */
/* 	height: 36px; */
/* } */
/* a.btn36:hover span, button.btn36:hover span { */
/* 	background-position: 0 -36px; */
/* } */
/* a.btn36:active span, button.btn36:active span { */
/* 	background-position: 0 -72px; */
/* } */
/* a.btn36:active span.m, button.btn36:active span.m { */
/* 	padding: 11px 0px 9px 2px; */
/* } */
/* ********** */
/* button END */
/* ********** */
/* ************ */
/* errors START */
/* ************ */
.errorBox {
  border: 1px solid red;
}
.errorInput {
  background-color: red;
}
.errorMessage {
  color: red;
}
/* ********** */
/* errors END */
/* ********** */
/* *********************** */
/* input placeholder START */
/* *********************** */
.placeholder_frame {
  position: relative;
  float: left;
}
.placeholder_frame label {
  position: absolute;
  padding: 7px 0 0 5px;
  top: 2px;
  left: 0;
  color: #9baec0;
  font-style: italic;
  font-family: Arial;
  cursor: text;
  font-size: 14px;
}
.placeholder_frame input {
  padding: 5px;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #4b6277;
}
.placeholder_frame button {
  position: absolute;
  height: 28px;
  padding: 7px;
  top: 0;
  right: 0;
}
.placeholder_frame input.searchbox_input {
  width: 250px ;
  padding-right: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.placeholder_frame.big label {
  font-size: 20px;
  padding: 10px 0 0 12px;
}
.placeholder_frame.big input {
  padding: 10px;
  padding-right: 50px;
  width: 500px;
  font-size: 20px;
  line-height: 20px;
}
.placeholder_frame.big button {
  padding: 10px;
  font-size: 20px;
}
/* *********************** */
/* input placeholder END */
/* *********************** */
/* ************ */
/* inputs START */
/* ************ */
.input_with_padding {
  padding: 3px;
  width: 100%;
}
.form_around_input_with_padding {
  padding-right: 5px;
}
/* ********** */
/* inputs END */
/* ********** */
.aligned_radio_button {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  margin-bottom: 5px;
}
input {
  outline: 0;
}
textarea {
  outline-color: #69bfee;
}
input[type="checkbox"].default_checkbox {
  position: absolute;
  opacity: 0;
}
input[type="checkbox"].default_checkbox + div {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 13px;
  border: 1px solid rgba(55, 72, 88, 0.47);
  border-radius: 999px;
  margin: 0 .5em;
  background: #f9fafb;
  background-image: linear-gradient(rgba(176, 205, 231, 0.2), rgba(0, 0, 0, 0)), linear-gradient(90deg, #374858, rgba(0, 0, 0, 0) 65%);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  transition-duration: .3s;
  transition-property: padding, width, background-position, text-indent;
  box-shadow: 0 0.2em 0.4em rgba(14, 27, 37, 0.12) inset, 0 0.45em 0 0.1em rgba(45, 98, 133, 0.05) inset;
  font-size: 150%;
}
input[type="checkbox"].default_checkbox:checked + div {
  padding-left: 33px;
  width: 46px;
  background-position: 0 0;
}
input[type="checkbox"].default_checkbox + div:before {
  content: 'On';
  float: left;
  width: 13px;
  height: 13px;
  margin: -1px;
  border: 1px solid rgba(55, 72, 88, 0.35);
  border-radius: inherit;
  background: white;
  background-image: linear-gradient(#8fa1b4, transparent);
  box-shadow: 0 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.8) inset, 0 0 0.5em rgba(55, 72, 88, 0.3);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -2.5em;
}
input[type="checkbox"].default_checkbox:active + div:before {
  background-color: #eee;
}
input[type="checkbox"].default_checkbox + div:before,
input[type="checkbox"].default_checkbox + div:after {
  font-size: 9px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
input[type="checkbox"].default_checkbox + div:after {
  content: 'Off';
  float: left;
  text-indent: .5em;
  color: #4b6277;
  text-shadow: none;
}
/* Draggable */
div.action_button.dragging_helper {
  width: 42px;
  height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 10px;
  background-image: url('/static/img/design/blank.png') !important;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 4px #646464;
  color: #69bfee;
  cursor: pointer;
  opacity: 0.8;
  text-decoration: none;
  z-index: 50;
}
a.dragging_helper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('/static/img/design/blank.png') !important;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #000;
  color: #69bfee;
  cursor: pointer;
  opacity: 0.5;
  padding: 10px 30px;
  text-decoration: none;
  z-index: 50;
}
.dialog_message_form textarea {
  min-height: 150px;
}
/*************
* header css *
**************/
.arrow_box {
  position: relative;
  background: white;
}
.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: white;
  border-width: 5px;
  margin-left: -4px;
}
.arrow_box:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #bac7d4;
  border-width: 6px;
  margin-left: -5px;
}
.headerbar_top {
  width: 100%;
  height: 50px;
  background: white;
  border-bottom: solid 1px #bac7d4;
}
.headerbar_top > header {
  margin: 21px 0 0 65px;
  font-weight: bold;
  float: left;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #415568;
}
.headerbar_top > header:hover .page_title {
  position: absolute;
  overflow: visible;
  white-space: normal;
  display: block;
  margin-left: 21px;
  z-index: 999;
  background: white;
  -webkit-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.2);
  box-shadow: 0 2px 4px rgba(55, 72, 88, 0.2);
}
.headerbar_top h1 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.headerbar_top > nav {
  float: right;
  height: 50px;
}
.headerbar_top a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.page_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  padding: 0;
  background: white;
  margin-left: 0;
}
.page_title a {
  white-space: nowrap;
}
.nav_top {
  float: left;
  margin: 0 100px 0 10px;
}
.nav_top > ul {
  margin: 0;
  padding: 0;
}
.nav_top > ul > li {
  width: 72px;
  height: 49px;
  margin-left: -1px;
  list-style-type: none;
  float: left;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header_btn {
  width: 100%;
  height: 100%;
  color: #4b6277;
  padding: 0;
  text-align: center;
  font-size: 10px;
  position: relative;
  cursor: pointer;
  background: transparent;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header_btn span {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  display: block;
  float: none;
}
.header_btn p {
  margin: 7px 0;
}
.header_btn:hover {
  background: #f3f5f7;
  -webkit-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.1);
  -moz-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.1);
  box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.1);
  border-left: solid 1px #cad4de;
  border-right: solid 1px #cad4de;
  padding-top: 0;
}
.header_btn:active {
  background: #d9e1e8;
  padding-top: 0;
  -webkit-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.2);
}
.nav_top_active {
  -webkit-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.1);
  -moz-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.1);
  box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.1);
  background: #e0e6eb !important;
  border-left: solid 1px #cad4de !important;
  border-right: solid 1px #cad4de !important;
}
.manage_hover:hover .header_btn {
  background: #f3f5f7;
  -webkit-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.1);
  -moz-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.1);
  box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.1);
  border-left: solid 1px #bac7d4;
  border-right: solid 1px #bac7d4;
  padding-top: 0px;
}
.manage_hover:active .header_btn {
  background: #d9e1e8;
  padding-top: 0px;
  -webkit-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 1px 6px rgba(55, 72, 88, 0.2);
}
.manage_dropdown {
  position: absolute;
  top: 49px;
  left: 0;
  font-size: 13px;
  z-index: 999;
}
.manage_dropdown li {
  width: 120px;
}
.manage_dropdown > span {
  position: absolute;
  top: -11px;
  left: 25px;
}
.header_top_dropdown {
  background: white;
  display: none;
  border: solid 1px #bac7d4;
  border-right: solid 1px #bac7d4;
  border-bottom: solid 1px #bac7d4;
  -webkit-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  font-size: 13px;
}
.header_top_dropdown > ul {
  margin: 0;
  padding: 0;
}
.header_top_dropdown > ul li {
  list-style-type: none;
}
.header_top_dropdown > ul {
  padding: 12px 0 12px 0;
}
.header_top_dropdown > ul > li {
  display: block;
  text-align: left;
  cursor: pointer;
}
.header_top_dropdown > ul > li > a {
  padding: 8px 0 8px 12px;
  display: block;
}
.header_top_dropdown > ul > li:hover {
  background: #ecf0f3;
}
.bread_arrow {
  font-size: 11px;
}
.options_top {
  float: right;
  margin: 10px 0 0 10px;
  position: relative;
}
.options_top > ul {
  margin: 0;
  padding: 0;
}
.options_top > ul > li {
  list-style-type: none;
  float: left;
  position: relative;
}
.options_top > ul > li {
  width: 40px;
  height: 50px;
  margin-right: 15px;
  display: block;
  float: left;
  font-size: 10px;
  position: relative;
}
.options_top > ul > li:first-child > span {
  margin-left: 10px;
}
.signout_wrap {
  position: relative;
  display: block;
  width: 40px;
  height: 32px;
}
.notes_count {
  padding: 2px 2px 1px 2px;
  line-height: 10px;
  color: white;
  background: #22a6ee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  text-align: right;
  left: 20px;
  top: 0px;
}
.avatar {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: #cad4de;
  margin-top: -3px;
  float: left;
  -webkit-box-shadow: 0px 1px 2px rgba(55, 72, 88, 0.6);
  -moz-box-shadow: 0px 1px 2px rgba(55, 72, 88, 0.6);
  box-shadow: 0px 1px 2px rgba(55, 72, 88, 0.6);
}
.avatar span {
  display: block;
  float: none;
}
.avatar img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
}
.avatar .avatar-img {
  margin: 3px 0 0 4px;
}
.avatar .arrow_down_s-img {
  position: absolute;
  top: 12px;
  right: 2px;
}
.dropdown_button {
  cursor: pointer;
}
.search_dropdown {
  width: 250px;
  height: 51px;
  padding: 10px;
  position: absolute;
  top: 39px;
  left: -111px;
  z-index: 999;
}
.search_dropdown > span {
  position: absolute;
  top: -11px;
  left: 114px;
}
.search_dropdown input {
  height: 30px;
  width: 100%;
  font-size: 14px;
  color: #4b6277;
  padding-left: 4px;
  display: block;
  margin: auto;
  border: solid 1px #bac7d4;
}
.search_dropdown button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 7px;
  height: 30px;
}
.bell_dropdown {
  position: absolute;
  top: 39px;
  left: -166px;
  font-size: 12px;
  line-height: 1.4;
  z-index: 99;
  max-height: 530px;
  overflow-y: auto;
  overflow-x: hidden;
}
.bell_dropdown > span {
  position: absolute;
  top: -11px;
  left: 169px;
}
.bell_dropdown li {
  width: 250px;
  padding: 8px 0 8px 8px;
}
.bell_dropdown li span {
  color: #69bfee;
  font-weight: bold;
}
.bell_dropdown li article {
  width: 200px;
  display: inline-block;
  margin-left: 10px;
}
.bell_dropdown li p {
  color: #9baec0;
  margin: 5px 0;
}
.bell_dropdown li:last-child {
  text-align: center;
  margin: 14px 0 -12px 0 !important;
  background: #d9e1e8;
}
.profile_dropdown {
  position: absolute;
  top: 39px;
  left: -70px;
  font-size: 13px;
  z-index: 999;
  width: 120px;
}
.profile_dropdown > span {
  position: absolute;
  top: -11px;
  left: 77px;
}
.profile_dropdown ul > li {
  padding-left: 10px;
}
.profile_dropdown ul > li a {
  width: 100%;
}
.med_blue_btn {
  padding: 8px 17px 8px 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  opacity: 1;
  background: #3277b8;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-backface-visibility: hidden;
}
.med_blue_btn:hover,
.med_blue_btn:focus {
  background: #2a6398;
  -ms-filter: none;
  filter: none;
  outline: 0;
  color: white;
  text-decoration: none;
}
.med_blue_btn:active {
  background: #245684;
  -ms-filter: none;
  filter: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.4);
}
.orange_btn {
  padding: 4px 17px 5px 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  opacity: 1;
  background: #e37900;
  font-size: 20px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-backface-visibility: hidden;
}
.upgrade_box {
  position: relative;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.upgrade_btn {
  color: white;
  background: #ff8617;
  border: 0;
  opacity: 1;
  position: absolute;
  top: 44px;
  right: 40px;
  border-radius: 3px;
  color: white !important;
  text-decoration: none;
  padding: 3px 16px;
  font-weight: bold;
  height: 22px;
  margin-top: 3px;
  font-size: 14px;
  display: block;
}
.upgrade_btn:hover {
  background: #ffa14a;
  outline: 0;
}
.upgrade_btn:active {
  background: #ff8617;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(55, 72, 88, 0.3);
  box-shadow: inset 0 1px 2px rgba(55, 72, 88, 0.3);
}
.upgrade_box:after {
  left: 100%;
  top: 50%;
  border: solid rgba(0, 0, 0, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(213, 213, 213, 0);
  border-left-color: #ffffff;
  border-width: 4px;
  margin-top: -5px;
}
.filterbox_wrap {
  position: relative;
  float: left;
  min-width: 100px;
  width: auto;
}
.filterbox_wrap .filter_btn {
  border-left: solid 1px #bac7d4;
  border-right: solid 1px #bac7d4;
  border-top: solid 1px #bac7d4;
}
.filterbox_task_wrap {
  position: relative;
  float: left;
  min-width: 150px;
}
.filterbox_task_wrap .filter_btn {
  border-left: solid 1px #bac7d4;
  border-right: solid 1px #bac7d4;
  border-top: solid 1px #bac7d4;
}
.filter_box_dropdown {
  width: auto;
  min-width: 100px;
  padding: 10px 0;
  float: left;
  border: solid 1px #cad4de;
  background: white;
  font-size: 12px;
  -webkit-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.2);
  box-shadow: 0 2px 4px rgba(55, 72, 88, 0.2);
}
.filter_box_dropdown > ul {
  margin: 0;
  padding: 0;
}
.filter_box_dropdown li {
  list-style-type: none;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
}
.filter_box_dropdown li:hover {
  background: #ecf0f3;
}
.notebook_notification {
  font-size: 16px;
  margin: 40px auto;
  width: 390px;
  padding: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(55, 72, 88, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(55, 72, 88, 0.5);
  box-shadow: 0 1px 2px rgba(55, 72, 88, 0.5);
}
/*********************
* overwrite jqueryUI *
*********************/
.ui-datepicker {
  -webkit-box-shadow: 0 4px 8px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 4px 8px rgba(55, 72, 88, 0.3);
  box-shadow: 0 4px 8px rgba(55, 72, 88, 0.3);
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ui-widget-header {
  border: 0 /*{borderColorHeader}*/;
  background: #d9e1e8;
  color: #4b6277;
  /*{fcHeader}*/
  font-weight: normal;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  border: 0;
  position: absolute;
  top: 0;
  width: 1.8em;
  height: 100%;
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  border: 0;
  background: #bac7d4;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: normal;
  color: #4b6277;
  border: 0;
}
.ui-widget-content {
  border: 1px solid #9baec0;
  background: #ecf0f3;
  color: #4b6277;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cad4de;
  background: white;
  font-weight: normal /*{fwDefault}*/;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #bac7d4 /*{borderColorHover}*/;
  background: #e4eef7;
  font-weight: normal /*{fwDefault}*/;
  color: #4b6277;
  /*{fcHover}*/
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: #4b6277;
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: none;
}
.ui-widget-header .ui-icon {
  background-image: none;
}
.ui-icon {
  overflow: visible !important;
}
.ui-icon-circle-triangle-w {
  position: relative;
  background: white;
  display: inline-block;
  height: 0;
  width: 0;
}
.ui-icon-circle-triangle-w:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #4b6277;
  border-width: 8px;
  margin-top: -7px;
}
.ui-icon-circle-triangle-e {
  position: relative;
  background: white;
  display: inline-block;
  height: 0;
  width: 0;
}
.ui-icon-circle-triangle-e:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #4b6277;
  border-width: 8px;
  margin-top: -7px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  top: 50%;
  margin-top: 0px;
}
.ui-tooltip {
  padding: 5px 10px;
  background: #374858;
  -webkit-box-shadow: 0 2px 3px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 2px 3px rgba(55, 72, 88, 0.3);
  box-shadow: 0 2px 3px rgba(55, 72, 88, 0.3);
  font: normal 14px;
  color: white;
  border: 0;
  z-index: 11;
}
.ui-tooltip:after {
  bottom: 100%;
  left: 13px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-bottom-color: #374858;
  border-width: 7px;
  margin-left: -7px;
}
/****************
* media queries *
****************/
@media (max-width: 1750px) {
  .headerbar_top > header {
    width: 30%;
  }
}
@media (max-width: 1160px) {
  .group_content_block {
    width: 100%;
  }
  .headerbar_top > header {
    width: 30%;
    margin: 19px 0 0 20px;
  }
  .eln_main_content_box,
  .project_list {
    padding: 20px 20px 20px 20px;
    width: auto;
  }
  #messages_content,
  #task_content,
  #comments_content {
    padding: 0 10px 0 10px;
  }
}
@media (max-width: 1100px) {
  .author_firstname,
  .author_lastname {
    width: 100px;
  }
}
@media (max-width: 970px) {
  .nav_top {
    margin: 0 30px 0 10px;
  }
  .headerbar_top > header {
    width: 200px;
  }
  .page_title {
    margin-top: 2px;
    font-size: 12px;
  }
  .author_firstname,
  .author_lastname {
    width: 66px;
  }
  .group_content_box {
    padding: 20px;
  }
  .profile_block {
    max-width: 550px;
    width: calc(100% - 25px);
  }
}
@media (max-height: 600px) {
  .popup_dialog {
    top: 50%;
  }
}

