.entry_footer {
    background: #cad4de;
    margin-left: 30px;
    margin-right: 45px;
    padding-top: 2px;
    padding-bottom: 2px;
    min-width: 696px;
    height: auto;
    font-size: 0.6em;
}

.entry_footer > span {
    color: #748dad;
    font-weight: 900;
    padding: 8px 8px 6px 8px;
}

.entry_footer_line {
    margin-top: 2px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px 5px 5px 22px;
    background: #f2f5f7;
    border-left: solid 1px #aabbca;
    border-right: solid 1px #aabbca;
}

.entry_footer_signature > img {
    position: absolute;
    right: 10px;
    margin-top: -2px;
    height: 30px;
}

.width_80_percent {
    width: 80%;
}

.min_height_35 {
    min-height: 35px;
}
