.table-el-container, .well-plate-el-container {
    padding: 100px 10px;
    min-height: calc(100% - 10px) !important;
    height: 243px;
    background: white;
    text-align: center;
}

.table-el-info, .well-plate-el-info {
    color: #bababa;
}

.table-el-download, .well-plate-el-download {
    margin-top: 8px;
}

.table-el-download > a, .well-plate-el-download > a {
    color: #6cc0ec;
}

.table-el-icon, .well-plate-el-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 0.2em;
    fill: #6cc0ec;;
    flex-shrink: 0;
}

.table-el-filename, .well-plate-el-filename {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    word-break: break-all
}
