/****************
* notebook.less *
*****************/
/**************
*  basic.css  *
**************/
/**********
* colors  *
***********/
/**********
* helper  *
***********/
.list_vertical > ul {
  margin: 0;
  padding: 0;
}
.list_vertical > ul li {
  list-style-type: none;
}
.list_horizontal > ul {
  margin: 0;
  padding: 0;
}
.list_horizontal > ul > li {
  list-style-type: none;
  float: left;
  position: relative;
}
/*************
* functions  *
**************/
/******
* css *
******/
body {
  color: #374858;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#action_buttons {
  display: inline-block;
  float: right;
  height: 250px;
  left: 50%;
  margin-left: 410px;
  position: fixed;
  top: 110px;
  width: 150px;
}
/****************
* button + input*
****************/
button {
  border: 0;
  font-size: 12px;
  padding: 3px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
button:focus {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  outline: 0;
}
.search_button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: solid 1px #bac7d4 !important;
}
.btn_on_grey {
  color: #415568;
  background: #f3f5f7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e6eb), color-stop(1, #f3f5f7));
  background: -ms-linear-gradient(bottom, #e0e6eb, #f3f5f7);
  background: -moz-linear-gradient(center bottom, #e0e6eb 0%, #f3f5f7 100%);
  background: -o-linear-gradient(#f3f5f7, #e0e6eb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f5f7', endColorstr='#e0e6eb', GradientType=0);
  border: 1px solid #7b95ad;
  line-height: 1.2;
}
.btn_on_grey:hover {
  color: #415568;
  background: #f3f5f7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e6eb), color-stop(1, #f3f5f7));
  background: -ms-linear-gradient(bottom, #e0e6eb, #f3f5f7);
  background: -moz-linear-gradient(center bottom, #e0e6eb 0%, #f3f5f7 100%);
  background: -o-linear-gradient(#f3f5f7, #e0e6eb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f5f7', endColorstr='#e0e6eb', GradientType=0);
  outline: 0;
  border: 1px solid #5e7b97;
  -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}
.btn_on_grey:active {
  color: #4b6277;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  border: 1px solid #4b6277;
  background: #cad4de;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e6eb), color-stop(1, #cad4de));
  background: -ms-linear-gradient(bottom, #e0e6eb, #cad4de);
  background: -moz-linear-gradient(center bottom, #e0e6eb 0%, #cad4de 100%);
  background: -o-linear-gradient(#cad4de, #e0e6eb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cad4de', endColorstr='#e0e6eb', GradientType=0);
}
.btn_on_white {
  color: #4b6277;
  background: #e6ebef;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d9e1e8), color-stop(1, #e6ebef));
  background: -ms-linear-gradient(bottom, #d9e1e8, #e6ebef);
  background: -moz-linear-gradient(center bottom, #d9e1e8 0%, #e6ebef 100%);
  background: -o-linear-gradient(#e6ebef, #d9e1e8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ebef', endColorstr='#d9e1e8', GradientType=0);
  border: 1px solid #cad4de;
  opacity: 1;
  line-height: 13px;
}
.btn_on_white:hover:enabled {
  -ms-filter: none;
  filter: none;
  outline: 0;
  border: 1px solid #b4c2d0;
}
.btn_on_white:active {
  color: #4b6277;
  -ms-filter: none;
  filter: none;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  border: 1px solid #c7d2dc;
  background: #d9e1e8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d9e1e8), color-stop(1, #d0d9e2));
  background: -ms-linear-gradient(bottom, #d9e1e8, #d0d9e2);
  background: -moz-linear-gradient(center bottom, #d9e1e8 0%, #d0d9e2 100%);
  background: -o-linear-gradient(#d0d9e2, #d9e1e8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d9e2', endColorstr='#d9e1e8', GradientType=0);
}
.btn_on_white.disabled {
  opacity: 0.6;
}
.btn_on_white.disabled:active {
  color: #4b6277;
  -ms-filter: none;
  filter: none;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0);
  border: 1px solid #cad4de;
  background: #e6ebef;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d9e1e8), color-stop(1, #e6ebef));
  background: -ms-linear-gradient(bottom, #d9e1e8, #e6ebef);
  background: -moz-linear-gradient(center bottom, #d9e1e8 0%, #e6ebef 100%);
  background: -o-linear-gradient(#e6ebef, #d9e1e8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ebef', endColorstr='#d9e1e8', GradientType=0);
}
.btn_on_white.disabled:hover {
  -ms-filter: none;
  filter: none;
  outline: 0;
  border: 1px solid #cad4de;
}
.filter_btn {
  color: #526c84;
  background: #ecf0f3;
  height: 24px;
  padding: 2px 8px;
  font-size: 12px;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.filter_btn > span {
  height: 4px;
  width: 12px;
  display: block;
  float: left;
  margin: 2px 0 0 8px;
}
.filter_btn > p {
  margin: 0;
  float: left;
}
.filter_btn:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.1);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.1);
  background: #e0e6eb;
  padding-top: 2px;
}
.filter_btn:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 1px 2px rgba(55, 72, 88, 0.2);
  background: #cdd7e0;
}
span.close-x {
  display: block;
  float: left;
  margin: 0 0 0 8px;
  display: none;
}
.filter_on {
  background: #527ca3;
  color: white;
}
.filter_on:hover,
.filter_on:active {
  background: #527ca3;
  color: #e0e6eb;
}
.filter_active {
  background: #5b96cd;
  color: #ffffff;
}
.filter_active .arrow_down_s-img:after {
  border-top-color: white;
}
.filter_active:hover {
  background: #5b96cd;
  color: #e6ebef;
}
.grey_link {
  color: #4b6277;
  background: transparent;
  font-size: 12px;
  padding: 0;
  text-decoration: underline;
  display: block;
  cursor: pointer;
}
.grey_link:hover {
  color: #415568;
  text-decoration: underline;
}
.grey_link:active {
  text-decoration: none;
}
.blue_link {
  color: #1995d8;
  background: transparent;
  font-size: 12px;
  padding: 0;
  text-decoration: underline;
  display: block;
  cursor: pointer;
}
.blue_link:hover {
  color: #69bfee;
  text-decoration: underline;
}
.blue_link:active {
  color: #1995d8;
  text-decoration: none;
}
.feedback_btn {
  color: white;
  border: 1px solid #994097;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0 5px 5px;
  position: absolute;
  top: 213px;
  left: -2px;
  z-index: 101;
  background: #ab48a9;
  cursor: pointer;
}
.feedback_btn > p {
  margin: 0;
}
.feedback_btn:hover,
.feedback_btn:focus {
  background: #ab48a9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bc60ba), color-stop(1, #ab48a9));
  background: -ms-linear-gradient(bottom, #bc60ba, #ab48a9);
  background: -moz-linear-gradient(center bottom, #bc60ba 0%, #ab48a9 100%);
  background: -o-linear-gradient(#ab48a9, #bc60ba);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab48a9', endColorstr='#bc60ba', GradientType=0);
}
.feedback_btn:active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  border: 1px solid #873986;
  background: #ab48a9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c575c3), color-stop(1, #ab48a9));
  background: -ms-linear-gradient(bottom, #c575c3, #ab48a9);
  background: -moz-linear-gradient(center bottom, #c575c3 0%, #ab48a9 100%);
  background: -o-linear-gradient(#ab48a9, #c575c3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab48a9', endColorstr='#c575c3', GradientType=0);
}
.feedback_btn_dialog {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 10px;
  background: #ab48a9;
  cursor: pointer;
  border: 0;
  display: block;
  margin: 90px auto 20px auto;
}
.feedback_btn_dialog > p {
  margin: 0;
}
.feedback_btn_dialog:hover {
  color: #e5c1e4;
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.4);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.4);
}
.feedback_btn_dialog:active {
  -webkit-box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.5);
  -moz-box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.5);
  box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.5);
}
.invite_btn_dialog {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 10px;
  background: #93ba48;
  cursor: pointer;
  border: 0;
  display: block;
  margin: 20px auto;
}
.invite_btn_dialog > p {
  margin: 0;
}
.invite_btn_dialog:hover {
  color: #e0ebca;
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.4);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.4);
}
.invite_btn_dialog:active {
  -webkit-box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.5);
  -moz-box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.5);
  box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.5);
}
.invite_btn {
  border: 1px solid #85a940;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 3px 5px 1px;
  position: absolute;
  top: 296px;
  left: -2px;
  z-index: 50;
  background: #93ba48;
  cursor: pointer;
}
.invite_btn > p {
  margin: 0;
  float: left;
}
.invite_btn > span {
  margin: 2px 2px 0 4px;
}
.invite_btn:hover,
.invite_btnfocus {
  background: #93ba48;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a0c25e), color-stop(1, #93ba48));
  background: -ms-linear-gradient(bottom, #a0c25e, #93ba48);
  background: -moz-linear-gradient(center bottom, #a0c25e 0%, #93ba48 100%);
  background: -o-linear-gradient(#93ba48, #a0c25e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93ba48', endColorstr='#a0c25e', GradientType=0);
}
.invite_btn:active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.2);
  border: 1px solid #769639;
  background: #93ba48;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #adcb74), color-stop(1, #93ba48));
  background: -ms-linear-gradient(bottom, #adcb74, #93ba48);
  background: -moz-linear-gradient(center bottom, #adcb74 0%, #93ba48 100%);
  background: -o-linear-gradient(#93ba48, #adcb74);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93ba48', endColorstr='#adcb74', GradientType=0);
}
.checkbox_filled[type="checkbox"] {
  display: none;
}
.checkbox_filled[type="checkbox"]:checked + label:after {
  background: #69bfee;
  border: 1px solid #5e7b97;
}
.checkbox_filled_bg {
  font-size: 12px;
  position: relative;
  display: inline-block;
  padding: 4px 0 4px 25px;
  display: block;
  width: 110px;
  cursor: pointer;
}
.checkbox_filled_bg:hover {
  background: #ecf0f3;
}
.checkbox_filled_bg:after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid #bac7d4;
}
.checkbox_button_input[type="checkbox"] {
  display: none;
}
.checkbox_button_input[type="checkbox"]:checked + label {
  background: #e0e6eb;
}
.checkbox_button_input[type="checkbox"]:checked + label:after {
  background: #69bfee;
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.5);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.5);
  border: 1px solid #c5e6f8;
}
.empty_folder {
  font-size: 12px;
  color: #aabbca;
}
.checkbox_button {
  font-size: 12px;
  position: relative;
  padding: 4px 0 4px 1px;
  display: inline-block;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.checkbox_button:hover {
  background: #ecf0f3;
}
.checkbox_button b .folder_dn-img,
.checkbox_button b .folder_up-img {
  margin-top: -2px;
  margin-right: 6px;
}
.checkbox_button:after {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  right: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid #bac7d4;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 1px 2px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 1px 2px rgba(55, 72, 88, 0.2);
}
.own_name {
  font-size: 12px;
  position: relative;
  padding: 4px 0 4px 1px;
  display: inline-block;
  width: 100%;
  margin: 0;
  background: #ecf0f3;
  padding-left: 10px;
  margin-bottom: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.own_name:after {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #69bfee;
  -webkit-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.5);
  box-shadow: inset 0 1px 1px rgba(55, 72, 88, 0.5);
  border: 1px solid #c5e6f8;
}
.label_title {
  display: inline-block;
  width: calc(80% - 12px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input_label_wrap {
  position: relative;
}
.input_label_wrap p {
  font-size: 12px;
  margin: 0 0 4px 4px;
}
.input_label_wrap label {
  position: absolute;
  bottom: 4px;
  left: 4px;
  color: #aabbca;
}
/* div.action_button { */
/*     background: #FFF; */
/*     border: 1px solid #CCC; */
/*     border-radius: 5px 5px 5px 5px; */
/*     color: #374858; */
/*     cursor: pointer; */
/*     display: inline-block; */
/*     float: left; */
/*     font-size: 14px; */
/*     height: 25px; */
/*     line-height: 30px; */
/*     margin-right: 10px; */
/*     padding: 0 10px; */
/*     text-align: center; */
/*     top: 0; */
/* } */
/* div.action_button:hover { */
/* 	color: #69bfee; */
/*     border: 1px solid #69bfee; */
/* } */
div.action_button_click_only {
  cursor: pointer;
}
div.bigger_button {
  font-size: 18px;
  margin: 0;
  padding: 5px;
  width: 250px;
  cursor: pointer;
  transition: background 0.3s ease;
}
#button_add_entry {
  /* 	margin-right: 10px; */
}
.action_button {
  height: 19px;
  width: 24px;
}
.action_button img {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: auto;
}
.action_button p {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  text-align: left;
}
.file_upload_button {
  width: auto;
  height: 30px;
}
#saved_entry {
  display: none;
  background-color: #BDCA70;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  left: 50%;
  margin-left: -60px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100px;
}
div.dragging_entry {
  background: #69bfee;
  border-radius: 2px;
  color: #FFF;
  cursor: move;
  font-size: 18px;
  margin-top: -10px;
  margin-left: -30px;
  opacity: 0.5;
  padding: 10px;
  text-align: left;
  width: 80px !important;
  z-index: 100;
}
div.dd_entry_table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
div.dd_entry_row {
  display: table-row;
}
div.dd_entry_cell {
  border: 1px solid transparent;
  display: table-cell;
  vertical-align: top;
}
div.dd_entry_cell:hover {
  border: 1px solid #CCC;
}
div.dd_entry_cell_wrapper {
  position: relative;
}
div.dd_entry_cell_content {
  position: relative;
  display: block;
  min-height: 66px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  overflow: hidden;
  /* For tables */
}
.handsontable {
  overflow: scroll;
}
div.dd_entry_cell_content img {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
}
div.dd_entry_cell_content .imageLayer {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.file_placeholder {
  text-align: center;
  background-color: #d9e1e8;
  border: 1px solid rgba(0, 0, 0, 0);
  padding-top: 5px;
  transition: background 0.3s ease;
}
.file_placeholder button {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
div.dd_entry_cell_file_download {
  font-size: 16px;
  padding: 15px 10px;
  text-align: center;
  overflow: hidde;
  word-break: break-word;
}
div.dd_entry_cell_file_download span.icon-file {
  font-size: 36px;
}
div.file_icon {
  vertical-align: bottom;
  display: inline-block;
}
div.file_extension {
  position: absolute;
  background-color: #374858;
  color: #FFF;
  font-size: 12px;
  line-height: 12px;
  margin: 12px 0 0 -16px;
  padding: 2px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  border: 1px solid #FFF;
  width: 32px;
}
div.file_details {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  line-height: 20px;
}
div.file_name {
  display: block;
  font-size: 18px;
}
div.file_size_link {
  display: block;
}
div.file_size_link a {
  margin-left: 10px;
}
div.dd_image_entry .dd_entry_cell_content {
  text-align: center;
  overflow: hidden;
}
.entry_button {
  background-color: #e6ebef;
  cursor: pointer;
  display: none;
  height: 30px;
  margin: 0;
  padding: 5px 0 0;
  position: relative;
  float: left;
  text-align: center;
  width: 35px;
  z-index: 2;
  font-size: 18px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.entry_button:hover {
  background-color: #d9e1e8;
}
.entry_button:active {
  -webkit-box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.2);
}
div.zoom_button,
div.settings_button {
  /* 	border-bottom: 1px solid #CCC; */
  /* 	border-left: 1px solid #CCC; */
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  right: 0;
}
div.cancel_button,
div.drag_button {
  /* 	right: 35px; */
}
div.save_button,
div.edit_button {
  /* 	border-right: 1px solid #CCCCCC; */
  /*     right: 70px; */
}
div.zoom_button {
  /* 	border-right: 1px solid #CCCCCC; */
  /*     right: 105px; */
}
div.zoom_button span {
  font-size: 14px;
  margin: 10px;
  line-height: 1.6;
  color: #4b6277;
}
div.drag_button {
  cursor: move;
}
div.cancel_button,
div.save_button {
  display: none;
}
div.zoom_button:hover,
div.cancel_button:hover,
.save_button:hover,
.settings_button:hover,
.drag_button:hover,
.edit_button:hover {
  /* 	color: #69bfee; */
}
div.zoom_button:hover,
div.settings_button:hover {
  margin: 0;
}
div.dd_entry_cell:hover div.zoom_button,
div.dd_entry_cell:hover div.settings_button,
div.dd_entry_cell:hover div.drag_button,
div.dd_entry_cell:hover div.edit_button {
  display: block;
}
/* we need !important to override inline css set in labfolder-project.js when showing or hiding buttons for redactor enabled/disabled */
div.epb_entry.readOnly div.cancel_button,
div.epb_entry.readOnly div.drag_button,
div.epb_entry.readOnly div.settings_button,
div.epb_entry.readOnly div.save_button,
div.epb_entry.readOnly div.edit_button,
div.epb_entry.readOnly div.zoom_button,
div.epb_entry.readOnly button.file_upload_button,
div.epb_entry.readOnly div.more_options_item_remove_block_element {
  display: none !important;
}
div.disabled_button {
  display: none !important;
}
/*TODO nest better hdrop*/
.hdrop {
  height: 15px;
  display: table;
  table-layout: fixed;
  width: 100%;
  transition: background 0.3s ease;
}
.hdrop:only-child {
  box-sizing: border-box;
  height: 100px;
  padding: 40px;
}
.hdrop:only-child:before {
  content: "This entry is empty. You can add a TEXT, a SKETCH, a TABLE or attach a FILE by clicking or dragging the buttons in the toolbar above.";
  font-size: 13px;
  background: #ffffff;
  padding: 2px 4px;
}
.hdrop.drop_active:only-child:before {
  content: "Drag it here.";
}
.hdrop.drop_hover:only-child:before {
  content: "Now drop it.";
}
.hdrop:last-child {
  /* 	border-radius: 0 0 10px 10px; */
}
.vdrop {
  width: 20px;
  display: table-cell;
  transition: background 0.3s ease;
}
#button_add_entry.drop_active,
.drop_active {
  background-color: #aea;
}
.file_placeholder.drop_active {
  background-color: #97d3f3;
}
#button_add_entry.drop_hover,
.drop_hover {
  background: #69bfee;
}
.file_placeholder.drop_hover {
  background-color: #69bfee;
}
.dragBar {
  cursor: col-resize;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 10px;
}
.dragBar img {
  height: 10px;
  width: 2px;
}
.dragBar:hover {
  background-color: #DDD;
}
div.epb_entry.readOnly .dragBar {
  cursor: default;
}
div.epb_entry.readOnly .dragBar img {
  display: none;
}
div.epb_entry.readOnly .dragBar:hover {
  background-color: initial;
}
.hidden_entry {
  visibility: hidden;
}
.button_wrapper_sticky {
  position: fixed !important;
  top: 131px !important;
  right: inherit !important;
  z-index: 20;
}
.dd_entry_cell.ui-state-disabled,
.dd_entry_cell.ui-widget-content .ui-state-disabled,
.dd_entry_cell.ui-widget-header .ui-state-disabled {
  background-image: none !important;
  opacity: 1 !important;
}
#paste_hidden_input {
  opacity: 0;
  position: absolute;
  right: 10000px;
  top: -10000px;
}
/*************
* action bar *
**************/
.action_bar {
  width: 100%;
  height: 36px;
  min-width: 800px;
  padding-top: 10px;
  background: white;
  border-bottom: solid 2px #a1b3c4;
  -webkit-box-shadow: 0 3px 4px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: 0 3px 4px rgba(55, 72, 88, 0.2);
  box-shadow: 0 3px 4px rgba(55, 72, 88, 0.2);
}
.plus_btn {
  width: 64px;
  height: 22px;
  color: white;
  background: #38abf7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0b89dd), color-stop(1, #38abf7));
  background: -ms-linear-gradient(bottom, #0b89dd, #38abf7);
  background: -moz-linear-gradient(center bottom, #0b89dd 0%, #38abf7 100%);
  background: -o-linear-gradient(#38abf7, #0b89dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38abf7', endColorstr='#0b89dd', GradientType=0);
  text-align: left;
  font-size: 27px;
  font-family: Arial !important;
  line-height: 0.6;
  padding: 2px 9px;
  position: relative;
}
.plus_btn:hover {
  outline: 0;
  color: #dcf0fb;
}
.plus_btn:active {
  -webkit-box-shadow: inset 0 3px 2px rgba(55, 72, 88, 0.5);
  -moz-box-shadow: inset 0 3px 2px rgba(55, 72, 88, 0.5);
  box-shadow: inset 0 3px 2px rgba(55, 72, 88, 0.5);
}
.plus_btn:after {
  content: "Add";
  font-size: 13px;
  position: absolute;
  right: 10px;
  top: 12px;
  font-weight: bold;
  line-height: 0;
}
.plus_btn_wrap {
  width: 200px;
  float: left;
  margin-top: -3px;
}
.plus_btn_hover {
  height: 23px;
  margin: 0 0 0 55px;
}
.add_dropdown {
  display: none;
  position: absolute;
  top: 85px;
  left: 0;
  -webkit-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  z-index: 999;
}
.add_dropdown .default_button {
  border: 0;
  background: none;
}
.add_dropdown .default_button:active {
  background: #4fb9f3;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0);
}
.add_dropdown > ul {
  width: 180px;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 12px 0 12px 0;
  background: #18a2ed;
}
.add_dropdown > ul li {
  list-style-type: none;
  padding: 8px 10px 8px 50px;
  cursor: pointer;
}
.add_dropdown > ul li:hover {
  background: #4fb9f3;
}
.add_link {
  padding: 0 0 0 50px !important;
  height: 32px;
}
.add_link a {
  width: auto;
  padding: 8px 0 8px 0;
  color: white;
  text-decoration: none;
  display: block;
}
.add_link a:hover {
  text-decoration: none;
}
.action_menu_wrap {
  float: left;
  margin-top: -1px;
}
.filter_wrap > ul > li {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-left: solid 1px #bac7d4;
  border-top: solid 1px #bac7d4;
  height: 25px;
}
.filter_wrap > ul > li:last-child {
  padding: 6px 3px 0 10px;
  border-left: solid 1px #bac7d4;
  border-top: 0;
}
.filter_wrap > ul > li:first-child {
  background: none;
  border: none;
  color: #7b95ad;
  font-size: 12px;
  padding: 6px 10px 0 0;
  margin-left: 18px;
}
.more_filters {
  /* 	display: none; */
}
.filter_dropdown_wrap {
  width: 190px;
  height: auto;
  position: absolute;
  left: -1px;
  top: 25px;
  z-index: 999;
  display: none;
  color: #4b6277;
}
.filter_dropdown_wrap .folder_dn-img {
  margin-top: 2px;
}
.filter_dropdown_wrap .folder_up-img {
  margin-top: 0;
}
.filter_dropdown_wrap header {
  font-size: 11px;
  color: #d9e1e8;
  background: #4b6277;
  padding: 3px 6px 2px 6px;
  float: left;
}
.filter_dropdown_wrap header > p {
  margin: 0;
  float: left;
}
.filter_dropdown_wrap header > span {
  float: right;
  padding: 0px 0 3px 8px;
  color: white;
  cursor: pointer;
}
.filter_dropdown {
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 190px;
  max-height: 600px;
  width: auto;
  padding-bottom: 20px;
  float: left;
  border: solid 1px #bac7d4;
  background: white;
  -webkit-box-shadow: 0 4px 8px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 4px 8px rgba(55, 72, 88, 0.3);
  box-shadow: 0 4px 8px rgba(55, 72, 88, 0.3);
}
.filter_dropdown .list_vertical {
  padding-top: 10px;
}
.filter_dropdown ul {
  padding-left: 20px;
}
.filter_dropdown > ul {
  margin: 0;
  padding: 0;
  width: 230px;
}
.filter_dropdown li {
  list-style-type: none;
}
.filter_dropdown nav {
  display: block;
  height: 30px;
  padding-top: 10px;
}
.filter_dropdown nav button {
  float: left;
  margin-right: 20px;
}
.filterOverlay.active {
  opacity: 0.5;
}
.filter_project_dropdown > ul {
  margin: 0;
  padding: 0;
  width: 270px;
}
.invalid_tag {
  font-size: 12px;
  color: #e66873;
}
.project_filter {
  min-width: 255px !important;
  padding: 0 6px 10px 4px;
}
.project_filter .tree_button {
  display: none !important;
}
.project_filter .updateTS {
  display: none !important;
}
.project_filter .treeline,
.project_filter .treeline_children_empty {
  font-size: 12px;
}
.root_folder {
  padding: 4px 0 4px 2px !important;
  width: calc(100% - 29px);
}
.not_possible_project {
  display: none;
}
.not_possible_author {
  display: none;
}
.folder_label {
  padding: 4px 0 4px 2px !important;
  width: calc(100% - 29px);
}
.root_folder_wrap {
  overflow: auto;
  width: 100%;
}
.filter_date_header {
  width: 190px;
}
.dropdown_padding {
  padding: 10px;
}
.author_filter {
  min-width: 255px !important;
  padding: 0 6px 0 4px;
}
.tags_input {
  margin-top: 10px;
  border: solid 1px #bac7d4;
  cursor: text;
  padding: 2px;
  min-height: 50px;
  width: 100%;
  overflow: auto;
}
.tags_input > span {
  font-size: 11px;
  padding: 1px 3px;
  background: #f3f5f7;
  border-radius: 3px;
  border: solid 1px #cad4de;
  height: 18px;
  margin: 2px;
  cursor: pointer;
  display: inline-block;
}
.tags_input > span.selected_token {
  border: 1px solid #4bb1d7;
}
.tags_input > span.invalid {
  border: 1px solid #E66873;
  color: #E66873;
}
.token_input {
  border: none;
  outline: none;
  resize: none;
  white-space: pre;
  font-size: 11px;
  line-height: 11px;
  vertical-align: top;
  font-family: arial, sans-serif;
  padding: 5px 0 0 2px;
  margin: 0px;
  width: auto;
  overflow: auto;
}
.token_input_width {
  position: absolute;
  height: 11px;
  display: inline-block;
  padding: 0px 10px;
  visibility: hidden;
}
.tag_name {
  display: inline-block;
  margin-right: 5px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.delete_tag {
  color: #9baec0;
  cursor: pointer;
  display: inline-block;
  padding: 1px 3px 1px 0px;
  vertical-align: top;
}
.delete_tag:after {
  content: "\00d7";
}
.tag_data_wrap {
  margin-top: 10px;
}
.tag_data_wrap > ul {
  margin: 0;
  padding: 0;
}
.tag_data_wrap > ul li {
  list-style-type: none;
}
.tag_index {
  padding-right: 5px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  border-right: solid 1px #bac7d4;
  float: left;
}
.tag_index > ul {
  margin: 0;
  padding: 0;
}
.tag_index > ul li {
  list-style-type: none;
}
.tag_index li {
  width: 15px;
  padding: 3px 0 3px 0;
  margin-bottom: 1px;
  display: block;
  cursor: pointer;
}
.tag_index li:hover {
  background: #ecf0f3;
}
.existing_tag {
  cursor: pointer;
}
.existing_tag.disabled {
  color: white;
  background: #7b95ad;
  border: 1px solid #7b95ad;
}
li.index_selected {
  background: #d9e1e8;
}
li.index_selected:hover {
  background: #d9e1e8;
}
.all_tags_head {
  font-size: 12px;
  margin: 10px 0 5px 0;
}
.all_tags {
  font-size: 12px;
  margin: 40px 0 5px 0;
}
.tag_register {
  overflow: auto;
  max-height: 300px;
  width: 100%;
  float: left;
  margin-left: 10px;
  font-size: 11px;
}
.tag_register ul {
  margin: 0;
  padding: 0;
}
.tag_register ul li {
  list-style-type: none;
}
.tag_register > ul > li {
  margin-bottom: 15px;
}
.tag {
  padding: 1px 3px;
  background: #f3f5f7;
  border-radius: 3px;
  border: solid 1px #cad4de;
  display: inline-block;
}
.my_tags li {
  margin-bottom: 5px;
}
.my_tags span {
  display: inline-block;
  padding: 1px 3px;
  background: #f3f5f7;
  border-radius: 3px;
  border: solid 1px #cad4de;
}
.my_tags .selected_tag {
  background: #38abf7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0b89dd), color-stop(1, #38abf7));
  background: -ms-linear-gradient(bottom, #0b89dd, #38abf7);
  background: -moz-linear-gradient(center bottom, #0b89dd 0%, #38abf7 100%);
  background: -o-linear-gradient(#38abf7, #0b89dd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38abf7', endColorstr='#0b89dd', GradientType=0);
  color: #ffffff;
}
.my_tags .selected_tag.disabled.selected_tag {
  background: #f3f5f7;
  border: 1px solid #E66873;
  color: #E66873;
}
.group_tags li {
  margin-bottom: 7px;
}
.group_tags span {
  display: inline-block;
  padding: 1px 3px;
  background: #f3f5f7;
  border-radius: 3px;
  border: solid 1px #cad4de;
}
.managed_tags li {
  margin-bottom: 7px;
}
.managed_tags span {
  display: inline-block;
  padding: 1px 3px;
  background: #f3f5f7;
  border-radius: 3px;
  border: solid 1px #cad4de;
}
.custom_selectbox {
  min-width: 100px;
}
.filter_date_input {
  background: white;
  border: solid 1px #bac7d4;
  width: 120px;
  height: 26px;
  padding: 2px;
  color: #4b6277;
}
.datepicker_wrap {
  margin-top: 20px;
}
.datepicker_wrap > div:first-child {
  margin-bottom: 15px;
}
.input_label_wrap label.hidden {
  display: none;
}
.filter_date_icon {
  display: block;
  position: absolute;
  right: 24px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
}
.empty_filter_message {
  font-size: 12px;
  margin: 0 0 10px 10px;
}
/*******
* entry *
********/
#epb_container {
  position: relative;
  width: 100%;
}
.epb_entry {
  width: 100%;
  margin: 19px 0 15px 0;
  display: inline-block;
}
.readOnly .entry_toolbar_btns {
  display: none;
}
.entry_loading {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 85px;
  bottom: 0;
  left: 0;
  z-index: 99;
  right: 0;
}
.entry_loading span {
  padding: 25px;
  background: #fff;
  opacity: 1;
  border-radius: 10px;
  border: 1px solid #9baec0;
  -webkit-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.3);
  box-shadow: 0 2px 2px rgba(55, 72, 88, 0.3);
  color: #5e7b97;
  font-size: 24px;
  top: 300px;
  width: 250px;
  margin-left: -125px;
  left: 50%;
  text-align: center;
  position: absolute;
}
.entry_container {
  min-width: 726px;
  margin-right: 45px;
}
.entry_header {
  width: 100%;
  height: 33px;
  font-size: 12px;
  background: #cdd7e0;
}
.entry_author {
  color: #374858;
  float: left;
}
.entry_author > ul {
  margin: 0;
  padding: 0;
}
.entry_author > ul li {
  list-style-type: none;
}
.entry_author figure {
  background: #ecf0f3;
  border: solid 1px #7b95ad;
  margin: 2px;
  width: 29px;
  height: 29px;
  float: left;
  position: relative;
}
.entry_author figure img {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 0;
  left: 0;
}
.entry_author figure > span {
  margin-left: 4px;
}
.author_name {
  float: left;
  padding: 2px;
  line-height: 1.3;
  width: 196px;
}
.author_firstname,
.author_lastname {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  padding: 0;
  margin-left: 0;
}
.entry_title_wrap {
  float: left;
  position: relative;
  padding: 2px 4px 3px 4px;
  line-height: 1.3;
  border-left: 1px solid #ffffff;
}
.entry_name_menu {
  float: left;
  height: 30px;
  overflow: hidden;
}
.entry_name_menu > ul {
  margin: 0;
  padding: 0;
}
.entry_name_menu > ul li {
  list-style-type: none;
}
.entry_name_menu p {
  margin: 0;
  display: inline-block;
}
.entry_name_menu li {
  max-width: 800px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entry_name_menu li:first-child {
  float: left;
  color: #4f677e;
  margin-right: 10px;
  font-size: 11px;
  line-height: 1.4;
}
.entry_name_menu li:last-child {
  float: left;
}
.entry_menu_list {
  float: left;
  width: 164px;
  height: 30px;
  overflow: hidden;
}
.entry_menu_list > ul {
  margin: 0;
  padding: 0;
}
.entry_menu_list > ul li {
  list-style-type: none;
}
.entry_menu_list p {
  margin: 0;
  display: inline-block;
}
.entry_menu_list li {
  width: 100%;
  display: block;
  clear: both;
}
.entry_menu_list li span:first-child {
  min-width: 45px;
  max-width: 92px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  color: #4f677e;
  font-size: 11px;
}
.entry_menu_list li span:last-child {
  float: left;
  color: #374858;
}
.entry_menus {
  height: 100%;
  float: right;
  position: relative;
}
.entry_menus > ul {
  margin: 0;
  padding: 0;
}
.entry_menus > ul > li {
  list-style-type: none;
  float: left;
  position: relative;
}
.entry_menus > ul {
  height: 100%;
}
.entry_menus > ul > li {
  width: 200px;
  border-right: solid 1px white;
  padding: 2px 4px 3px 4px;
  height: 33px;
  line-height: 1.3;
  background: #cdd7e0;
  position: relative;
}
.entry_menus > ul > li:first-child {
  border-left: solid 1px white;
}
.entry_menus > ul > li:last-child {
  border-right: none;
  width: 90px;
}
.entry_menu_more {
  min-height: 33px;
  height: auto !important;
  overflow: visible;
  border-bottom: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(55, 72, 88, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(55, 72, 88, 0.5);
  box-shadow: 0 1px 2px rgba(55, 72, 88, 0.5);
  z-index: 10;
}
.entry_menu_more .entry_menu_options span:last-child {
  position: absolute;
  bottom: 6px;
}
.show_list_more {
  height: auto;
}
.readOnly .drop_edit_menu {
  display: none;
}
.entry_menu_less {
  /* 	overflow: hidden; */
}
.entry_menu_show {
  overflow: visible;
}
.entry_menu_edit .entry_dropdown {
  display: block;
}
.entry_menu_options {
  float: right;
  margin-left: 10px;
  padding-left: 4px;
  height: 100%;
  width: 15px;
}
.entry_menu_options > span {
  display: block;
  margin-right: 0;
  cursor: pointer;
}
.entry_menu_options .arrow_menu_dn-img {
  height: 10px !important;
  margin-top: 7px;
}
.entry_options {
  padding-top: 5px;
  float: right;
}
.entry_options > ul {
  margin: 0;
  padding: 0;
}
.entry_options > ul > li {
  list-style-type: none;
  float: left;
  position: relative;
}
.entry_options > ul > li {
  margin-left: 6px;
}
.entry_options > span {
  cursor: pointer;
}
.epb_comments_count {
  color: #ffffff;
  width: 17px;
  display: block;
  text-align: center;
  margin-top: 1px;
  font-size: 9px;
  height: 12px;
  line-height: 12px;
}
@-moz-document url-prefix() {
  .epb_comments_count {
    line-height: 11px;
  }
}
.entry_toolbar {
  height: 25px;
  margin-left: 31px;
  position: relative;
  padding: 5px;
  background: #cdd7e0;
  border-top: solid 1px white;
  -webkit-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(55, 72, 88, 0.3);
  box-shadow: 0 2px 2px rgba(55, 72, 88, 0.3);
}
.entry_toolbar > ul {
  margin: 0;
  padding: 0;
}
.entry_toolbar > ul > li {
  list-style-type: none;
  float: left;
  position: relative;
}
.entry_toolbar > ul > li {
  margin-right: 12px;
  cursor: pointer;
}
.entry_toolbar > ul > li:first-child {
  margin-left: 6px;
}
.entry_toolbar_btns {
  /*display: none;*/
}
.entry_content {
  min-height: 300px;
  background: #f9fafb;
  border: solid 1px #cad4de;
}
.entry_footer {
  margin-left: 30px;
  height: 25px;
  background: #cad4de;
}
.tag {
  padding: 1px 3px;
  background: #f3f5f7;
  border-radius: 3px;
  border: solid 1px #cad4de;
}
.entry_tags {
  float: left;
  height: 100%;
  overflow: hidden;
  max-width: 138px;
}
.entry_tags > span {
  display: inline-block;
  padding: 1px 3px;
  background: #f3f5f7;
  border-radius: 3px;
  border: solid 1px #cad4de;
  float: left;
  line-height: 1;
  padding: 0px 3px;
  border: solid 1px #aabbca;
  margin-right: 2px;
}
.entry_dropdown {
  width: 101%;
  min-width: 260px;
  height: auto;
  padding: 10px;
  background: #cdd7e0;
  border-left: solid 1px white;
  border-right: solid 1px white;
  border-bottom: solid 1px white;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 14;
  -webkit-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  display: none;
}
.entry_dropdown > ul {
  margin: 0;
  padding: 0;
}
.entry_dropdown > ul li {
  list-style-type: none;
}
.entry_dropdown input {
  border: none;
  height: 28px;
  font-size: 12px;
  padding-left: 6px;
  width: 100%;
  color: #4b6277;
}
.entry_dropdown label {
  font-size: 11px;
  display: block;
  margin-bottom: 4px;
}
.entry_dropdown > nav {
  width: 100%;
  height: 18px;
}
.entry_name {
  right: auto !important;
  left: -1px !important;
}
.entry_name select {
  width: 60%;
}
.entry_name > ul > li {
  margin: 4px 0 12px 0;
}
.entry_name > ul > li:first-child {
  margin-top: -8px;
}
.project_tree {
  width: 100%;
  height: 140px;
  overflow: auto;
  background: white;
}
.close_entry_menu {
  height: 18px;
  width: 100%;
  margin-top: -5px;
}
.close_entry_menu span {
  float: right;
}
.save_entry_menu {
  height: 20px;
  float: right;
  margin-top: 10px;
}
.save_entry_menu .grey_link {
  display: block;
  float: left;
  padding: 4px 20px 0 0;
}
.select_entry_menu {
  width: 100%;
  height: 25px;
  float: left;
  margin-top: 20px;
}
.select_entry_menu span,
.select_entry_menu button {
  float: left;
  margin-right: 15px;
}
.select_entry_menu .blue_link {
  color: #3b97ed;
}
.entry_tag_index li:hover {
  background: #d9e1e8;
}
.entry_tag_index li.index_selected {
  background: #e6ebef;
}
.entry_tag_index li.index_selected:hover {
  background: #e6ebef;
}
.entry_tags_input {
  margin: 0;
  background: white;
  border: none;
}
.entry_dates {
  width: 100%;
}
.entry_dates > li {
  display: block;
  width: 100%;
  clear: both;
  overflow: auto;
  margin-bottom: 15px;
}
.entry_dates > li > span {
  margin: 5px 0 0 6px;
  cursor: pointer;
}
.entry_dates > li > span:active {
  margin: 6px 0 0 6px;
}
.entry_dates input {
  height: 25px;
  background: #e9edf1;
}
.entry_dates input:focus {
  background: white;
}
.entry_dates > li:last-child {
  margin-bottom: 5px;
}
.entry_dates > li:last-child input {
  background: white;
}
.entry_dates > li:first-child {
  margin-bottom: 0;
}
.drag_handle {
  background: #d9e1e8;
  width: 9px;
  height: 25px;
  padding: 5px 3px;
  float: left;
  cursor: move;
}
.drag_handle span {
  width: 3px;
  height: 3px;
  display: block;
  background: #bac7d4;
  margin: 1px 0 2px 0;
}
.date_key {
  width: 120px;
  float: left;
  margin-right: 10px;
  position: relative;
}
.date_key:after {
  content: ":";
  position: absolute;
  left: 123px;
  top: 4px;
  font-size: 12px;
  font-weight: bold;
}
.date_value {
  width: 80px;
  float: left;
  position: relative;
}
.entry_settings {
  width: 150px;
  background: white;
  line-height: 1.0;
  position: absolute !important;
  top: 24px;
  right: -13px;
  z-index: 30;
  display: none;
  margin-right: 0 !important;
  -webkit-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.8);
  -moz-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.8);
  box-shadow: 0 2px 4px rgba(55, 72, 88, 0.8);
}
.entry_settings > ul {
  margin: 0;
  padding: 0;
}
.entry_settings > ul li {
  list-style-type: none;
}
.entry_settings .trash_dark-img {
  right: 4px;
}
.entry_settings ul {
  padding: 10px 0 10px 0;
}
.entry_settings li {
  font-size: 12px;
  padding: 8px 10px;
  display: block;
  cursor: pointer;
}
.entry_settings li:hover {
  background: #e0e6eb;
}
.entry_settings_arrow {
  position: relative;
  background: #f9fafb;
}
.entry_settings_arrow:after {
  top: -11px;
  right: 19px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f9fafb;
  border-width: 7px;
  margin-left: -3px;
}
.epb_content_wrap {
  display: table;
  min-width: 696px;
  margin-left: 30px;
  margin-right: 45px;
  min-height: 100px;
  background: #f3f5f7;
  border: solid 1px #aabbca;
}
.handsontable th {
  background: #d9e1e8;
  font-size: 12px;
  color: #4b6277;
}
.handsontable th,
.handsontable td {
  border-right: 1px solid #cad4de;
  border-bottom: 1px solid #cad4de;
}
.handsontable tr:first-child th,
.handsontable tr:first-child td {
  border-top: 1px solid #cad4de;
}
.handsontable th:first-child,
.handsontable td:first-child,
.handsontable .htNoFrame + th,
.handsontable .htNoFrame + td {
  border-left: 1px solid #cad4de;
}
div.dd_entry_cell {
  border: 1px solid #d9e1e8;
  -webkit-transition: border 0.2s ease;
  -moz-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
div.dd_entry_cell:hover {
  border: 1px solid #3babe9;
}
div.dd_entry_cell:hover .button_wrapper {
  display: block;
}
#button_add_entry.drop_active,
.drop_active {
  background-color: #d8f1ff;
}
#button_add_entry.drop_hover,
.drop_hover {
  background: #69bfee;
}
.settings_button span {
  margin-top: 10px;
  display: block;
}
.edit_button span {
  margin: 5px 0 0 12px;
}
.drag_button span {
  margin: 3px 0 0 10px;
}
.drag_button:active {
  -webkit-box-shadow: inset 0 0 0 rgba(55, 72, 88, 0) !important;
  -moz-box-shadow: inset 0 0 0 rgba(55, 72, 88, 0) !important;
  box-shadow: inset 0 0 0 rgba(55, 72, 88, 0) !important;
}
.cancel_button span {
  margin: 5px 0 0 12px;
}
.save_button span {
  margin: 2px 0 0 10px;
}
.button_wrapper {
  position: absolute;
  right: -1px;
  top: -1px;
  display: none;
  border: solid 1px #cad4de;
  z-index: 8;
  -webkit-box-shadow: -2px 1px 1px rgba(55, 72, 88, 0.1) !important;
  -moz-box-shadow: -2px 1px 1px rgba(55, 72, 88, 0.1) !important;
  box-shadow: -2px 1px 1px rgba(55, 72, 88, 0.1) !important;
}
.button_wrapper .more_options_panel {
  -webkit-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.4) !important;
  -moz-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.4) !important;
  box-shadow: 0 2px 4px rgba(55, 72, 88, 0.4) !important;
  border: 0;
}
.button_wrapper .more_options_item {
  min-width: 140px;
}
.more_options_panel.in_block {
  right: -1px;
  top: 36px;
  padding: 10px 0 10px 0;
  background-color: #e6ebef;
}
.more_options_item_remove_block_element span {
  float: left;
}
.more_options_item {
  padding: 6px;
}
.more_options_item:hover {
  background: #f9fafb;
}
/*********
* tables *
**********/
.htContextMenu table.htCore {
  outline: 1px solid #d9e1e8;
  line-height: 1.0;
  -webkit-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.4);
  -moz-box-shadow: 0 2px 4px rgba(55, 72, 88, 0.4);
  box-shadow: 0 2px 4px rgba(55, 72, 88, 0.4);
}
.htContextMenu table tbody tr td {
  font-size: 12px;
  color: #4b6277;
  background: #e9edf1;
}
.htContextMenu table tbody tr td:hover {
  background: #f9fafb;
}
.htContextMenu table tbody tr td.current {
  background: #f9fafb;
}
.htContextMenu table tbody tr td.htSeparator {
  border-top: 1px solid #cad4de;
}
/****************
* media queries *
****************/
@media (max-height: 750px) {
  .filter_dropdown {
    max-height: 460px;
  }
}
@media (max-width: 1750px) {
  .entry_name_menu li {
    max-width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (max-width: 1380px) {
  .entry_name_menu li {
    max-width: 190px;
  }
  .entry_menus > ul > li {
    width: 174px;
  }
  .entry_menu_list {
    width: 138px;
  }
}
@media (max-width: 1100px) {
  .author_name {
    width: auto;
    margin-right: 20px;
  }
  .author_firstname,
  .author_lastname {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (max-width: 970px) {
  .page_title {
    margin-top: 2px;
    font-size: 12px;
  }
  .plus_btn_wrap {
    width: 130px;
  }
  .author_firstname,
  .author_lastname {
    width: 66px;
  }
  .entry_menus > ul > li {
    width: 120px;
  }
  .entry_menu_list {
    width: 84px;
  }
  .entry_menu_list li span:first-child {
    display: block;
    float: none;
  }
  .entry_tags {
    width: 84px;
  }
  .entry_tags > span {
    max-width: 84px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 870px) {
  .entry_name_menu li {
    max-width: 90px;
  }
}

