/**************
*  basic.css  *
**************/
/**********
* colors  *
***********/
/**********
* helper  *
***********/
.list_vertical > ul {
  margin: 0;
  padding: 0;
}
.list_vertical > ul li {
  list-style-type: none;
}
.list_horizontal > ul {
  margin: 0;
  padding: 0;
}
.list_horizontal > ul > li {
  list-style-type: none;
  float: left;
  position: relative;
}
/*************
* functions  *
**************/
/******
* css *
******/
body {
  color: #374858;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/*********
* icons	*
**********/
.icon_source {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
}
.logo-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -6px -10px;
  width: 130px;
  height: 30px;
  margin: 16px 0 0 22px;
}
.author_only-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -140px -3px;
  width: 15px;
  height: 15px;
}
.add_text-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -161px -3px;
  width: 22px;
  height: 15px;
}
.add_text-img:hover {
  background-position: -161px -31px;
}
.add_text-img:active {
  margin-top: 1px;
}
.add_sketch-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -190px -3px;
  width: 22px;
  height: 15px;
}
.add_sketch-img:hover {
  background-position: -190px -31px;
}
.add_sketch-img:active {
  margin-top: 1px;
}
.add_table-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -218px -3px;
  width: 23px;
  height: 15px;
}
.add_table-img:hover {
  background-position: -218px -31px;
}
.add_table-img:active {
  margin-top: 1px;
}
.add_upload-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -942px -3px;
  width: 18px;
  height: 15px;
}
.add_upload-img:hover {
  background-position: -942px -31px;
}
.add_upload-img:active {
  margin-top: 1px;
}
.add_import-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -246px -3px;
  width: 23px;
  height: 15px;
}
.add_import-img:hover {
  background-position: -246px -31px;
}
.add_import-img:active {
  margin-top: 1px;
}
.wheel-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -282px -3px;
  width: 15px;
  height: 15px;
}
.wheel-img:hover {
  background-position: -282px -31px;
}
.arrow_down-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -303px -3px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.arrow_down-img:hover {
  background-position: -303px -31px;
}
.arrow_up-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -327px -3px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.arrow_up-img:hover {
  background-position: -327px -31px;
}
.comment-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -348px -3px;
  width: 19px;
  height: 19px;
}
.comment-img:hover {
  background-position: -348px -31px;
}
.todo-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -1085px -4px;
  width: 14px;
  height: 13px;
}
.project-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -375px -3px;
  width: 16px;
  height: 16px;
  margin-top: 6px !important;
}
/* .project-img:hover{ */
/* 	background-position: -375px -31px;  */
/* }	 */
.manage-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -400px -2px;
  width: 20px;
  height: 20px;
}
.manage_s-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -1050px -35px;
  width: 10px;
  height: 10px;
  margin-top: 2px;
}
.desk-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -428px -3px;
  width: 16px;
  height: 16px;
  margin-top: 6px !important;
}
.desk_s-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -1067px -35px;
  width: 10px;
  height: 10px;
  margin-top: 3px;
}
.template_s-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -796px -3px;
  width: 10px;
  height: 16px;
}
.bell-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -454px -1px;
  width: 22px;
  height: 22px;
}
.bell-img:hover {
  background-position: -454px -29px;
}
.search-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -488px -1px;
  width: 26px;
  height: 23px;
}
.search-img:hover {
  background-position: -488px -29px;
}
.avatar-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -522px 1px;
  width: 16px;
  height: 22px;
}
.avatar_s-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -837px -37px;
  width: 8px;
  height: 10px;
  margin-top: 4px;
}
.group-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -853px -35px;
  width: 20px;
  height: 13px;
  margin-top: 3px;
}
.arrow_down_s-img {
  position: relative;
  background: transparent;
}
.arrow_down_s-img:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(213, 213, 213, 0);
  border-top-color: #374858;
  border-width: 4px;
  margin-left: -4px;
}
.arrow_down_s-img:hover {
  background-position: -691px -39px;
}
.close_x-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -895px -8px;
  width: 10px;
  height: 9px;
}
.feedback-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -912px -2px;
  width: 10px;
  height: 61px;
}
.invite-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -925px -2px;
  width: 10px;
  height: 52px;
}
.pending-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -1011px -9px;
  width: 17px;
  height: 10px;
}
.single_tag_img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -970px -5px;
  width: 12px;
  height: 14px;
}
.root_tag_img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -986px -4px;
  width: 19px;
  height: 15px;
}
.menu_arrow-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -853px -7px;
  width: 14px;
  height: 11px;
}
.folder_up-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -738px -3px;
  width: 24px;
  height: 15px;
}
.folder_dn-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -764px -5px;
  width: 24px;
  height: 13px;
}
.project_s-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -814px -5px;
  width: 12px;
  height: 14px;
}
.notebook_s-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -1035px -34px;
  width: 10px;
  height: 12px;
  margin-top: 2px;
}
.edit-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -659px -7px;
  width: 11px;
  height: 10px;
}
.trash_dark-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -631px -5px;
  width: 10px;
  height: 13px;
}
.trash-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -646px -4px;
  width: 10px;
  height: 13px;
}
.trash-img:hover {
  background-position: -631px -4px;
}
.edit_light-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -674px -7px;
  width: 11px;
  height: 10px;
}
.edit_light-img:hover {
  background-position: -659px -7px;
}
.edit_light-img:active {
  margin-top: 1px;
  margin-bottom: -1px;
}
.arrow_menu_dn-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -729px -11px;
  width: 9px;
  height: 5px;
}
.arrow_menu_dn-img:hover {
  background-position: -729px -39px;
}
.arrow_menu_up-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -716px -11px;
  width: 9px;
  height: 5px;
}
.arrow_menu_up-img:hover {
  background-position: -716px -39px;
}
.close_box-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  float: right;
  margin: 0;
  background-position: -546px -5px;
  width: 17px;
  height: 15px;
  cursor: pointer;
}
.close_box-img:hover {
  background-position: -546px -33px;
}
.close_box-img:active {
  -webkit-box-shadow: 0 0 5px #ffffff;
  -moz-box-shadow: 0 0 5px #ffffff;
  box-shadow: 0 0 5px #ffffff;
  background-position: -546px -5px;
}
.save-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  margin: 0;
  background-position: -585px -5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.drag-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  margin: 0;
  background-position: -608px -5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.close_dark_x-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -569px -8px;
  width: 10px;
  height: 9px;
}
.edit_dark-img {
  background-image: url("../img/labfolder_icons.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  float: left;
  background-position: -659px -7px;
  width: 11px;
  height: 10px;
}

