/**************
*  basic.css  *
**************/
/********************
*  Media variables  *
********************/
/**********
* colors  *
***********/
/***********
* helpers  *
************/
.list_vertical > ul {
  margin: 0;
  padding: 0;
}
.list_vertical > ul li {
  list-style-type: none;
}
.list_horizontal > ul {
  margin: 0;
  padding: 0;
}
.list_horizontal > ul > li {
  list-style-type: none;
  float: left;
  position: relative;
}
/*************
* functions  *
**************/
/******
* css *
******/
body {
  color: #374858;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.treeInPopup .treeline {
  background-repeat: no-repeat;
  color: #374858;
  cursor: pointer;
  border: 1px solid transparent;
  display: block;
  font-size: 14px;
  height: 21px;
  line-height: 22px;
  outline: none;
  padding-left: 5px;
  text-decoration: none;
}
/* .treeline:hover{ */
/* 	background-position: 0 0; */
/* 	border: 1px solid #69bfee; */
/* 	text-decoration: none; */
/* } */
.treeline:hover .icon-arrow_down,
.treeline:hover .icon-arrow_right,
.treeline:hover .icon-folder,
.treeline:hover .icon-notebook,
.treeline:hover .icon-template,
.treeline:hover .name,
.treeline:hover .updateTS {
  /* 	color: #69bfee; */
}
.treeline.active {
  background-color: #ededed;
}
.treeInPopup .treeline.active {
  background-color: transparent;
}
.treeline.is_hidden_item > * {
  opacity: 0.4;
}
.treeline img {
  vertical-align: top;
}
.treeline .icon-arrow_right {
  font-size: 33px;
  margin-right: -10px;
  margin-left: -3px;
  vertical-align: -4px;
}
.treeInPopup .icon-arrow_right {
  font-size: 23px;
  margin-right: -6px;
  line-height: 14px;
  margin-left: -3px;
}
.treeline {
  position: relative;
}
.treeline span {
  float: left;
  margin-right: 5px;
}
.treeline .icon-template {
  float: left;
}
.treeInPopup .name {
  font-size: 12px;
  overflow: hidden;
}
.treeline .updateTS {
  font-size: 15px;
  float: right;
  margin-right: 15px;
}
.treeline .tree_button {
  float: right;
  margin-top: 0;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 1px;
  opacity: 0;
  transition: opacity 0.3s;
  display: block;
}
.treeline:hover .tree_button {
  opacity: 1;
}
.treeline_children .tree_button {
  right: 116px;
}
.droppable_folder {
  background-color: #e4eef7 !important;
}
.hover_droppable_folder {
  background-color: #d0e1f1 !important;
}
.treeline:hover .tree_button {
  display: inline;
}
.treeline.active .tree_button {
  display: inline;
}
.treeline_children {
  display: none;
  margin-left: 15px;
}
.treeInPopup .treeline_children {
  margin-left: 20px;
}
.treeline_children_empty {
  font-size: 15px;
  font-style: italic;
  padding: 10px 0 10px 30px;
}
.treeInPopup .treeline_children_empty {
  font-size: 12px;
  font-style: italic;
  padding: 0 0 0 25px;
}
.treeInPopupContainer {
  display: none;
  background: white;
  box-sizing: border-box;
  max-height: 150px;
  margin-top: 10px;
  overflow-y: auto;
  -webkit-box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.2);
  -moz-box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.2);
  box-shadow: inset 0 2px 1px rgba(55, 72, 88, 0.2);
}
.treeInPopupContainer img {
  display: block;
  margin: auto;
}
.treeInPopup {
  overflow-y: auto;
  height: 148px;
  padding-top: 10px;
  margin-top: 2px;
}
.treeInPopup .treeline.selected {
  background-color: #e6ebef;
}
.tree_my_eln_projects,
.tree_my_eln_templates {
  max-width: 900px;
}
.tree_my_eln_projects .folder_dn-img,
.tree_my_eln_templates .folder_dn-img,
.tree_my_eln_projects .project_s-img,
.tree_my_eln_templates .project_s-img {
  margin-top: 2px;
}
.treeline {
  color: #4b6277;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid transparent;
  display: block;
  font-size: 14px;
  height: 26px;
  line-height: 20px;
  outline: none;
  padding: 2px 8px 2px 4px;
  text-decoration: none;
  transition: background 0.1s ease;
}
.treeline:hover {
  background: #e0e6eb;
  text-decoration: none;
}
.treeline .updateTS {
  font-size: 13px;
  float: right;
  margin-right: 15px;
}
.treeline .tree_button {
  float: right;
  margin: 0 10px;
}
.treeline .tree_button button {
  padding: 3px;
  background: transparent;
  cursor: pointer;
}
.treeline .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  padding: 0;
  margin-left: 0;
  line-height: 1.5;
  float: left;
}
.treeline .icon-template {
  margin-top: 3px;
}
.settings_panel {
  position: absolute;
  right: 10px;
  background: #fdfdfd;
  border: solid 1px #bac7d4;
  top: 23px;
  right: -58px;
  display: none;
  z-index: 10;
  -webkit-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  -moz-box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  box-shadow: 0 4px 10px rgba(55, 72, 88, 0.3);
  border: 1px solid #bac7d4;
}
.show_settings .settings_panel {
  display: block;
}
.settings_panel > ul {
  margin: 0;
  padding: 0;
}
.settings_panel > ul li {
  list-style-type: none;
}
.settings_panel .more_options_item {
  min-width: 140px;
  font-size: 12px;
  padding-left: 5px;
  cursor: pointer;
}
.settings_panel .menu_arrow-img {
  position: absolute;
  top: -11px;
  left: 60px;
}
.settings_panel > ul > li {
  padding: 2px 7px 2px 6px;
  display: block;
  text-align: left;
  cursor: pointer;
  line-height: 20px;
  position: relative;
}
.settings_panel > ul > li:hover {
  background: #ecf0f3;
}
.settings_panel > ul > li > span {
  right: 0;
  top: 3px;
  position: absolute;
}
.settings_panel > ul li:first-child {
  margin-top: 8px;
}
.group_more_options {
  width: 200px;
}
.treeline .name {
  overflow: hidden;
  margin-left: 5px;
  max-width: 38%;
}
.treeline .details {
  color: #39A0E4;
  font-size: 13px;
  float: right;
  margin-right: 40px;
}
@media only screen and (max-width: 1024px) {
  .treeline .more_options {
    opacity: 1;
    right: 0;
  }
  .treeline .box-last-update {
    margin-left: 20px;
  }
  .treeline .box-last-update label {
    display: none;
  }
  .treeline .updateTS {
    display: none;
  }
  .treeline .name {
    max-width: 30%;
  }
  .treeline .box-owner label {
    display: none;
  }
}
/* Projects list tree */
.projects-list .headers,
.templates-list .headers {
  padding: 2px 8px 2px 4px;
  max-width: 900px;
  text-align: right;
}
.projects-list .headers div,
.templates-list .headers div {
  text-align: center;
  display: inline-block;
}
.projects-list .headers .owner,
.templates-list .headers .owner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
}
.projects-list .headers .update,
.templates-list .headers .update {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
}
.projects-list .headers .created,
.templates-list .headers .created {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
}
.projects-list .details,
.templates-list .details {
  margin: 0;
}
.projects-list .box-owner,
.templates-list .box-owner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
}
.projects-list .box-owner label,
.templates-list .box-owner label {
  display: none;
}
.projects-list .box-last-update,
.templates-list .box-last-update {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
}
.projects-list .box-last-update label,
.templates-list .box-last-update label {
  display: none;
}
.projects-list .updateTS,
.templates-list .updateTS {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
}
.projects-list .tree_button,
.templates-list .tree_button {
  right: -6px;
}
.projects-list .treeline_children .tree_button,
.templates-list .treeline_children .tree_button {
  right: 132px;
}
@media only screen and (max-width: 1024px) {
  .projects-list .headers .created,
  .templates-list .headers .created {
    display: none;
  }
  .projects-list .box-owner,
  .templates-list .box-owner {
    margin-right: 0;
  }
  .projects-list .updateTS,
  .templates-list .updateTS {
    display: none;
  }
  .projects-list .tree_button,
  .templates-list .tree_button {
    right: -10px !important;
  }
  .projects-list .treeline,
  .templates-list .treeline,
  .projects-list .headers,
  .templates-list .headers {
    padding-right: 25px;
  }
  .projects-list .name,
  .templates-list .name {
    max-width: 22%;
  }
}
