<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style"
		  content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Projects</title>

	<link rel="shortcut icon" type="image/x-icon"
		  href="static/img/favicon2.ico"/>

	<script
			src="static/js/jquery-1.8.2.min.js"
			type="text/javascript"></script>

	<script src="static/js/tree.js"
			type="text/javascript"></script>


	<!-- This must be the first labfolder JS file included -->
	<script
			src="static/js/labfolder-global.js?13fcc6eeb30608bb104f4b234c2fa3fd86699ffe"
			type="text/javascript"></script>

	<link rel="stylesheet" type="text/css"
		  href="static/css/eln_layout.css"/>


	<link rel="stylesheet" type="text/css"
		  href="static/css/pixel_icon.css"/>

	<link rel="stylesheet" type="text/css"
		  href="static/css/tree.css"/>

	<link rel="stylesheet" type="text/css"
		  href="static/css/notebook.css"/>

</head>
<body>
<div class="body_bg"></div>
<div class="eln_header eln_row">
	<div class="headerbar_top">
		<a href="/eln/"><span class="logo-img"></span></a>
		<header>
			<span aria-hidden="true" class="manage_s-img"></span> Projects
		</header>
		<nav>
			<div class="nav_top">
				<ul>
					<li><a href="templates.html">
						<button class="header_btn ">
							<span class="desk-img"></span>
							<p>Templates</p>
						</button>
					</a></li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="action_bar clearfix"></div>
<div id="data_element" data-viewname="WORKSPACE_INDEX"></div>
<div id="eln_main_content"
	 class="eln_main_content eln_row eln_scroll-y">
	<div class="eln_main_content_box projects-list">
        <div class="headers">
            <div class="owner">Owner</div>
            <div class="update">Last Modified</div>
            <div class="created">Created</div>
        </div>
        <div class="tree_my_eln_projects tree_top_level" data-treeid="eln_projects">
    <a id="treeline_eln_projects_0_0"
       data-groupid="0"
       data-objectid="0"
       data-ownerid="{{ownerId}}"
       class="treeline is_folder ui-droppable is_closed_folder">
        <span class="updateTS"></span>
        <span class="folder_up-img"></span>
        <span class="name">My private projects</span>
        <span class="details">
            <span class="box-owner">
    <label>Owner:</label>
    
    
</span>
<span class="box-last-update">
    <label>Last update:</label>
    
</span>

		</span>
    </a>
    <div class="treeline_children"style="overflow: hidden; display: none;"><a id="treeline_eln_projects"  data-id="118217"  data-parentId="0"  data-userId="30003"  data-groupId="0"  data-name="Example project"  data-folder="false"  data-template="false"  data-createTS="22.10.2019 15:49"  data-hidden="false"  data-shareable="false"  data-owner-profilePictureHash="null"  data-owner-tutorial="1"  data-owner-zoneId="Europe/Berlin"  data-owner-id="30003"  data-owner-firstname="max"  data-owner-lastname="muster"  data-owner-email="max.muster@posteo.de"  data-numberOfBlocks="4"  data-lastEditedTS="28.01.2020 10:12"  data-adminUserIds="[]"  data-adminOrOwner="true"  class="treeline is_item ui-draggable" href="./projects/My private projects_0/118217_Example%20project/index.html">
    <span class="updateTS">22.10.2019 15:49</span>
    <span class="project_s-img"></span>
    <span class="name">Example project</span>
    <span class="details">
            <span class="box-owner">
    <label>Owner:</label>
    max
    muster
</span>
<span class="box-last-update">
    <label>Last update:</label>
    28.01.2020 10:12
</span>

    </span>
</a>
<div class="treeline_children"style="overflow: hidden; display: none;"></div>
<a id="treeline_eln_projects"  data-id="118224"  data-parentId="0"  data-userId="30003"  data-groupId="0"  data-name="subproj 1"  data-folder="false"  data-template="false"  data-createTS="22.10.2019 16:49"  data-hidden="false"  data-shareable="false"  data-owner-profilePictureHash="null"  data-owner-tutorial="1"  data-owner-zoneId="Europe/Berlin"  data-owner-id="30003"  data-owner-firstname="max"  data-owner-lastname="muster"  data-owner-email="max.muster@posteo.de"  data-numberOfBlocks="0"  data-lastEditedTS="22.10.2019 16:49"  data-adminUserIds="[]"  data-adminOrOwner="true"  class="treeline is_item ui-draggable" href="./projects/My private projects_0/118224_subproj%201/index.html">
    <span class="updateTS">22.10.2019 16:49</span>
    <span class="project_s-img"></span>
    <span class="name">subproj 1</span>
    <span class="details">
            <span class="box-owner">
    <label>Owner:</label>
    max
    muster
</span>
<span class="box-last-update">
    <label>Last update:</label>
    22.10.2019 16:49
</span>

    </span>
</a>
<div class="treeline_children"style="overflow: hidden; display: none;"></div>
</div>
</div>

    </div>
</div>
</body>
</html>
